extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'О компании'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-about-companu.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading о компании
            .prewiews__content.prewiews__content--about
                span!= 'Мы создаем программные и программно-аппаратные системы с использованием технологий Open Source и на базе решений ведущих мировых производителей. Наши решения позволяют повысить эффективность деятельности организаций и предприятий с помощью инноваций в технологиях и процессах. Компания обеспечивает полный цикл разработки программного обеспечения - от анализа текущих процессов и выбора технологий, до технического сопровождения и развития систем.Входит в группу компаний Softline.'

block main
    section.section
        .box
            .info-about-companu
                .info-about-companu__inner
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle.show-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-about-info1.png")
                        .info-companu__data
                            .info-companu__header Основание
                            .info-companu__title 2008 год, Минск, Беларусь
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle.show-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-about-info2.png")
                        .info-companu__data
                            .info-companu__header Качество разработки
                            .info-companu__title!= 'Сертификат ISO 9001:2008 <br> <br> Проектирование, разработка и сопровождение информационных систем'
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle.show-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-about-info3.png")
                        .info-companu__data
                            .info-companu__header Офисы разработки
                            .info-companu__title Минск, Гомель, Беларусь
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle.show-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-about-info4.png")
                        .info-companu__data
                            .info-companu__header регионы
                            .info-companu__title Республика Беларусь, Россия, СНГ
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle.show-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-about-info5.png")
                        .info-companu__data
                            .info-companu__header Компетенции
                            .info-companu__title!= 'Заказная разработка комплексных <br>  ИТ- решений «под ключ» <br><br> Системы электронного взаимодействия <br><br> Machine-to- machine технологии, сервисное сопровождение'
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle.show-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-about-info6.png")
                        .info-companu__data
                            .info-companu__header потребители
                            .info-companu__title Государственный сектор, промышленность, бизнес
    section.section.participation-assoc.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-assn.png);")
        .box
            .heading!= '<span> участие</span>  в ассоциациях'
            .participation-assoc__inner
                .participation-assoc__item.
                    Резидент Парка высоких
                    технологий <br>
                    Республики Беларусь
                .participation-assoc__item.
                    Резидент ассоциации
                    Инфопарк
                .participation-assoc__item.
                    Член Белорусской
                    промышленной палаты
    section.section
        .box
            .info-companu
                .info-companu__inner
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img+"ico-diplom.png")
                        .info-companu__header <span class="spincrement">10</span>+ лет
                        .info-companu__title создания информационных систем
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-project.png")
                        .info-companu__header <span class="spincrement">200</span>+
                        .info-companu__title реализованных проектов
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-person.png")
                        .info-companu__header <span class="spincrement">250</span>+
                        .info-companu__title сотрудников
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-support.png")
                        .info-companu__header <span class="spincrement">24</span><span> / </span><span class="spincrement">7</span>
                        .info-companu__title техническая поддержка и сопровождение
                .btn-inner
                    a(href="#").btn.info-companu__btn узнать больше
    section.section.section--bg-red.team-project.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project.jpg);")
        .box
            .heading в команде проекта
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico--team-project1.png')
                    .team-project__content  Team leader
                .team-project__item
                     .team-project__images
                        img(src= p_img + 'ico--team-project2.png')
                     .team-project__content  Аналитики
                .team-project__item
                     .team-project__images
                        img(src= p_img + 'ico--team-project3.png')
                     .team-project__content  Разработчики
                .team-project__item
                     .team-project__images
                        img(src= p_img + 'ico--team-project4.png')
                     .team-project__content  Тестировщики
                .team-project__item
                     .team-project__images
                        img(src= p_img + 'ico--team-project5.png')
                     .team-project__content  Специалисты  технической поддержки
    section.section.red-reward.section--bg-red(style="background-image: url(../assets/index/images/shadow__heading-reward-red.png);")
        .box
            .heading достижения и награды
            .red-reward__inner
                .red-reward__item
                    .red-reward__images
                        img(src= p_img + 'ico-red-reward1.png')
                    .red-reward__data
                        .red-reward__heading  Победитель
                        .red-reward__content.
                            самых крупных поставщиков
                            информационных систем на рынке
                            Республики Беларусь <span>( по результатам рейтинга | Парка высоких технологий РБ, 2016 год )</span>

                .red-reward__item
                    .red-reward__images
                        img(src= p_img + 'ico-red-reward2.png')
                    .red-reward__data
                        .red-reward__heading  Входит в топ 10
                        .red-reward__content.
                            премии HR бренд 2016
                .red-reward__item
                    .red-reward__images
                        img(src= p_img + 'ico-red-reward3.png')
                    .red-reward__data
                        .red-reward__heading  Лидер
                        .red-reward__content.
                            по количеству внедренных систем
                            документооборота среди партнеров российского
                            производителя DIRECTUM

    section.section.abaut-clients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading клиенты
            .abaut-clients__inner
                .tabs-clients
                    .tabs-clients__item.tabs-clients__item--active
                       .tabs-clients__ico-tabs
                            img(src= p_img + "ico-about-clients-tabs1.png")
                       span    Государственный сектор
                    .tabs-clients__item
                        .tabs-clients__ico-tabs
                            img(src= p_img + "ico-about-clients-tabs2.png")
                        span    Государственный сектор
                    .tabs-clients__item
                        .tabs-clients__ico-tabs
                            img(src= p_img + "ico-about-clients-tabs3.png")
                        span    Государственный сектор
                .page-clients
                    .page-clients__item.page-clients__item--active
                        .page-clients__inner
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img+ 'ico-about-clients-1.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-2.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-3.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-4.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-5.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-6.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-7.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-8.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-9.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                    .page-clients__item
                        .page-clients__inner
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-4.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-5.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-6.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-7.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-8.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-9.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                    .page-clients__item
                        .page-clients__inner
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-1.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-2.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-3.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-4.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-5.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения
                            .abaut-clients__item
                                .abaut-clients__images
                                    img(src=p_img + 'ico-about-clients-6.png')
                                .abaut-clients__content
                                    span.
                                        Разработка ПО на создание и ведение
                                        централизованных справочников
                                        для взаимодействия с СМДО РБ
                                    .btn-inner
                                        a(href="#").btn.btn--white Посмотреть историю внедрения


    section.section.partners(style="background-image: url(../assets/index/images/shadow__heading-partners.png);")
        .box
            .heading Партнеры
            .partners__slider
                .slid-partners
                    .slid-partners__inner.owl-carousel
                        .slid-partners__item
                            img(src=p_img + "ico-partners1.png")
                        .slid-partners__item
                            img(src=p_img + "ico-partners2.png")
                        .slid-partners__item
                            img(src=p_img + "ico-partners3.png")
                        .slid-partners__item
                            img(src=p_img + "ico-partners4.png")
                        .slid-partners__item
                            img(src=p_img + "ico-partners5.png")
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

