extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'История'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews.bg-layer.bg-cover.history
        .breadcrumb.breadcrumb--history
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner.prewiews__inner--history-slide
                h1.heading.heading--history история компании
                .history__inner
                    .history__body
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/bg-history.jpg)")
                            .history-slide__data 2018-2019
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/404.jpg)")
                            .history-slide__data 2016-2017
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/bg-history.jpg)")
                            .history-slide__data 2014-2015
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/bg-history.jpg)")
                            .history-slide__data 2012-2013
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/bg-history.jpg)")
                            .history-slide__data 2010-2011
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                        .history__item
                            .history-slide__images(style="background-image: url(../assets/index/images/bg-history.jpg)")
                            .history-slide__data 2008-2009
                            .history-slide__content Основание компании Novacom  и формирование первой команды разработчиков
                    .history__thumbs
                        .thumbs__item 2018-2019
                        .thumbs__item 2016-2017
                        .thumbs__item 2014-2015
                        .thumbs__item 2012-2013
                        .thumbs__item 2010-2011
                        .thumbs__item 2008-2009
block main
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

