extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Главная'
    - var p_img = '../assets/index/images/'


block previews
    .index-prewiews
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner1.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'заказная <br>  разработка <br>  информационных <br>  систем'
                    a(href="#").index-prewiews__btn.btn.btn--white узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner2.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'промышленный <br> интернет вещей'
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner3.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'электронное <br> взаимодействие'
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner4.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'Электронная <br> коммерция '
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше

block main
    section.section.g-about(style="background-image: url(../assets/index/images/shadow__heading-about.png);")
        .box
            .grid
                .grid__cell
                    .heading.heading--g-companu О компании
                    .sect-title.
                        Компания «Новаком Групп» является
                        разработчиком и интегратором комплексных
                        информационных систем для решения задач
                        государства, отрасли, предприятия.
                .grid__cell
                    .sect-list
                        .sect-list__header Мы специализируемся на:
                        ul.sect-list__list
                            li.sect-list__item  создании высоконагруженных и распределенных информационных систем
                            li.sect-list__item  технологиях сбора данных от удаленных объектов (информация,параметры, количественные данные)
                            li.sect-list__item  оптимизации внутренних бизнес-процессов и взаимодействия, включая иерархические и территориально-распределённые структуры
            .info-companu
                .info-companu__inner
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img+"ico-diplom.png")
                        .info-companu__header <span class="spincrement">10</span>+ лет
                        .info-companu__title создания информационных систем
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-project.png")
                        .info-companu__header <span class="spincrement">200</span>+
                        .info-companu__title реализованных проектов
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-person.png")
                        .info-companu__header <span class="spincrement">250</span>+
                        .info-companu__title сотрудников
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-support.png")
                        .info-companu__header <span class="spincrement">24</span><span> / </span><span class="spincrement">7</span>
                        .info-companu__title техническая поддержка и сопровождение
                .btn-inner
                    a(href="#").btn.info-companu__btn узнать больше
    .small-news-slider.owl-carousel
        a(href="#").small-news
            .box
                .small-news__header 8 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 10 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 12 сентября состоится конференция “Открытые дни DIRECTUM”
    section.section.g-technologies.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-technology.png);")
        .box
            .heading Технологии
            div
                .g-technologies__inner
                    .grid
                        .grid__cell
                            .g-technologies__content  Разработка на Open Source технологиях позволяет создавать инновации и проектировать полнофункциональные системы с учетом отраслевых и деловых процессов
                        .grid__cell
                            .techn-images.g-technologies__images
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-java.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-sql.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-MYsql.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-apache.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-cassandra.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-NOsql.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-PHP.png")
                .g-technologies__inner
                    .grid
                        .grid__cell
                            .g-technologies__content Системная интеграция на базе решений мировых и российских производителей позволяет получить решения в соответствии с современными технологическими трендами в сжатые сроки
                        .grid__cell
                            .techn-images.g-technologies__images
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-oracle.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-ibm.png")
                                .techn-images__item
                                    a(href="#").techn-images__link
                                        img(src=p_img + "ico-project-directum.png")
            .btn-inner
                a(href="#").btn.info-companu__btn подробнее
    section.section.g-otzivi.section--bg-red(style="background-image: url(../assets/index/images/shadow__heading-reviews.png);")
        .box
            .heading отзывы клиентов
            .g-otzivi__slider
                .slider-otziv
                    .owl-carousel.slider-otziv__inner
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь
                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект
                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
            .btn-inner
                a(href="#").g-otzivi__btn больше отзывов
    section.section.g-klients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading наши клиенты
            .g-klients__slider
                .slid-clients
                    .slid-clients__inner.owl-carousel
                        .slid-clients__item
                            img(src=p_img + "ico-clients1.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients2.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients3.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients4.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients5.png")
            .btn-inner
                a(href="#").btn.btn--black Подробнее
    section.section.part-of-team.bg-layer.bg-cover(style="background-image: url(../assets/index/images/part-of-team.png)")
        .section__inner
            .box
                .heading!= 'Будь частью команды <span> Novacom </span>'
                .part-of-team__tittle.
                    Мы рады приветствовать каждого приходящего сотрудника приятной комфортной <br>
                    для работы обстановкой и дружелюбной атмосферой.
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Помогаем
                        .part-of-team__small-header нашим новым сотрудникам быстро и легко освоиться на новом месте
                    li.part-of-team__item
                        .part-of-team__header Уделяем внимание
                        .part-of-team__small-header обучению персонала, рассматривая это как один из стратегических факторов развития компании
                    li.part-of-team__item
                        .part-of-team__header Выделяем
                        .part-of-team__small-header средства на хобби (спортзал, бассейн и т.д.)
                    li.part-of-team__item
                        .part-of-team__header Развиваем
                        .part-of-team__small-header карьеру наших сотрудников
                    li.part-of-team__item
                        .part-of-team__header Весело отдыхаем
                        .part-of-team__small-header на корпоративных вечеринках и спортивных состязаниях
                    li.part-of-team__item
                        .part-of-team__header Предоставляем
                        .part-of-team__small-header удобный график, обеденный перерыв, оборудованное рабочее место, оплачиваемый отпуск, обучение, семинары, тренинги и многое другое
                .btn-inner
                    a(href="#").btn.btn--color-white Посмотреть вакансии
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
                    .btn-inner
                      button(type="submit" ).btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

