extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Руководство'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
block main
    section.section.lidership(style="background-image: url(../assets/index/images/shadow__heading-lidership.png);")
        .box
            .heading руководство
            .lidership__title!= 'Компания Novacom всегда стремится к созданию прозрачных партнерских отношений со своими клиентами. <br> Аутсорсинг программного обеспечения для нас – это не только эффективная командная работа, но также ииндивидуальный подход для достижения целей клиента. Ниже представлена информация о руководстве компании Novacom.'
            .lidership__inner
                .lidership__item
                    .lidership__avatar
                        img(src="../assets/index/images/lidership-avatar1.jpg")
                    .lidership__data
                        .lidership__header ПАВЕЛ ХОВРЕНКОВ
                        .lidership__position директор Novacom
                        .lidership__content!= 'В 2000 году Антон Дечко окончил Минский государственный лингвистический университет, факультет межкультруных коммуникаций. Помимо этого, в 2007 году он стал выпускником двухгодичной программы «Магистр бизнес-администрирования» Белорусского государственного университета. <br> В 2000 году Антон Дечко начинает свою карьеру в отделе маркетинга SaM Solutions в Минске     и уже через некоторое время становится руководителем отдела, а позже – директором по развитию бизнеса в Минске. В 2007 году Антон Дечко переезжает в штаб-квартиру SaM Solutions   в Германии, где в качестве директора и члена совета директоров, руководит процессом продаж и взаимодействия с клиентами в Европе. '
                .lidership__item
                    .lidership__avatar
                        img(src="../assets/index/images/lidership-avatar2.jpg")
                    .lidership__data
                        .lidership__header КОНСТАНТИН ПАШКЕВИЧ
                        .lidership__position заместитель директора Novacom
                        .lidership__content.
                            Константин Пашкевич имеет более 15 лет опыта работы в сфере финансового менеджмента.
                            До прихода в компанию на должность CFO в течение 12 лет работал финансовым директором и
                            заместителем генерального директора минского подразделения исследований и разработок
                            американской компании VPIsystems. До этого занимал должности финансового менеджера
                            в других компаниях ИT-отрасли. В настоящее время также является членом совета директоров
                            группы компаний SaM Solutions. Константин Пашкевич является выпускником факультета
                            радиотехники и электроники Белорусского государственного университета информатики и
                            радиоэлектроники. В этом же университете окончил несколько курсов повышения квалификации
                            по специальности промышленного менеджмента. Константин Пашкевич также прошел обучение
                            стандартам международного бухгалтерского учета и финансовой отчетности (МСБУ/МСФО)
                            в Международной школе бизнеса (Москва) и Академии бизнеса Ernst & Young (Минск).
                .lidership__item
                    .lidership__avatar
                        img(src="../assets/index/images/lidership-avatar1.jpg")
                    .lidership__data
                        .lidership__header ПАВЕЛ ХОВРЕНКОВ
                        .lidership__position директор Novacom
                        .lidership__content!= 'В 2000 году Антон Дечко окончил Минский государственный лингвистический университет, факультет межкультруных коммуникаций. Помимо этого, в 2007 году он стал выпускником двухгодичной программы «Магистр бизнес-администрирования» Белорусского государственного университета. <br> В 2000 году Антон Дечко начинает свою карьеру в отделе маркетинга SaM Solutions в Минске     и уже через некоторое время становится руководителем отдела, а позже – директором по развитию бизнеса в Минске. В 2007 году Антон Дечко переезжает в штаб-квартиру SaM Solutions   в Германии, где в качестве директора и члена совета директоров, руководит процессом продаж и взаимодействия с клиентами в Европе. '
                .lidership__item
                    .lidership__avatar
                        img(src="../assets/index/images/lidership-avatar2.jpg")
                    .lidership__data
                        .lidership__header КОНСТАНТИН ПАШКЕВИЧ
                        .lidership__position заместитель директора Novacom
                        .lidership__content.
                            Константин Пашкевич имеет более 15 лет опыта работы в сфере финансового менеджмента.
                            До прихода в компанию на должность CFO в течение 12 лет работал финансовым директором и
                            заместителем генерального директора минского подразделения исследований и разработок
                            американской компании VPIsystems. До этого занимал должности финансового менеджера
                            в других компаниях ИT-отрасли. В настоящее время также является членом совета директоров
                            группы компаний SaM Solutions. Константин Пашкевич является выпускником факультета
                            радиотехники и электроники Белорусского государственного университета информатики и
                            радиоэлектроники. В этом же университете окончил несколько курсов повышения квалификации
                            по специальности промышленного менеджмента. Константин Пашкевич также прошел обучение
                            стандартам международного бухгалтерского учета и финансовой отчетности (МСБУ/МСФО)
                            в Международной школе бизнеса (Москва) и Академии бизнеса Ernst & Young (Минск).


    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить


block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

