extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Ссылки'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Работа

block main
    section.section
        .box
            .heading Шаблонная страница
            ul.templates
                li.templates__item
                    a(href="index.html", target="_black").templates__links Главная
                li.templates__item
                    a(href="contacts.html", target="_black").templates__links Контакты
                li.templates__item
                    a(href="history.html", target="_black").templates__links История компании
                li.templates__item
                    a(href="lidership.html", target="_black").templates__links Руководство
                li.templates__item
                    a(href="news.html", target="_black").templates__links Новости
                li.templates__item
                    a(href="news-page.html", target="_black").templates__links Полная новость
                li.templates__item
                    a(href="open-vacancy.html", target="_black").templates__links описание вакансии
                li.templates__item
                    a(href="resume.html", target="_black").templates__links резюме
                li.templates__item
                    a(href="work.html", target="_black").templates__links Работа в novacom
                li.templates__item
                    a(href="vacancy.html", target="_black").templates__links Вакансии
                li.templates__item
                    a(href="project.html", target="_black").templates__links Проекты
                li.templates__item
                    a(href="project-filtr.html", target="_black").templates__links Проекты (фильтры)
                li.templates__item
                    a(href="project-solutions.html", target="_black").templates__links Проекты (решения)
                li.templates__item
                    a(href="about.html", target="_black").templates__links О компании
                li.templates__item
                    a(href="solutions.html", target="_black").templates__links Решения (solution)
                li.templates__item
                    a(href="solutions1.html", target="_black").templates__links Решения (solution1)
                li.templates__item
                    a(href="solutions1-1.html" , target="_black").templates__links Решения (solution1-1)
                li.templates__item
                    a(href="solutions2.html" , target="_black").templates__links Решения (solution2)
                li.templates__item
                    a(href="solutions2-1.html" , target="_black").templates__links Решения (solution2-1)
                li.templates__item
                    a(href="solutions3.html", target="_black").templates__links Решения (solution3)
                li.templates__item
                    a(href="solutions3-1.html" , target="_black").templates__links Решения (solution3-1)
                li.templates__item
                    a(href="solutions4.html" , target="_black").templates__links Решения (solution4)
                li.templates__item
                    a(href="solutions4-1.html" , target="_black").templates__links Решения (solution4-1)
block scripts

