extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Вкансия'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews.bg-cover.prewiews--content.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-full-news.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Работа
        .prewiews__inner
            h1.heading «Новаком» автоматизировала документооборот <br> в МАГЭ в Мурманске
            .prewiews__date!= '08 июня 2016'
            .prewiews__content.
                Компания «Новаком», входящая в ГК Softline, реализовала пилотный проект по автоматизации
                документооборота и системы управления взаимодействием сотрудников в головном офисе
                Морской арктической геологоразведочной экспедиции в Мурманске. Данный проект, ставший
                продолжением сотрудничества организации и ГК Softline в области внедрения СЭД, позволил
                оптимизировать процесс обработки документов и повысить его эффективность.
block main
    .full-news
        .box
            .grid
                .grid__cell
                    .content.content--padding-right
                        p!= '<strong>ОАО «Морская арктическая геологоразведочная экспедиция» (МАГЭ)</strong> – компания, которая с 1972 года ведет научно-исследовательскую деятельность и предоставляет широкий спектр геолого-геофизических услуг  по изучению строения шельфовых морей, транзитных и прибрежных зон Арктики и Мирового океана. В компании  трудится более 500 человек.'
                        p!= 'Специфика деятельности МАГЭ подразумевает большой объем бумажной работы, регулярную подготовку      многочисленных документов и сложные многоступенчатые циклы их согласования. В сфере документооборота задействовано более половины сотрудников. Ранее руководство компании приняло решение о внедрении системы                 электронного документооборота в московском филиале МАГЭ. Технологической основой решения стало программное  обеспечение Directum. Данный проект в 2014 г. успешно выполнили эксперты компаний «Новаком» и Develonica,            имеющие обширный опыт реализации информационных систем различного уровня сложности.'
                        p!= 'В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.'
                        p!= 'В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.'
                        p!= 'В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.'
                        p!= 'В результате проекта, были автоматизированы такие задачи, как регистрация документов, организация их систематизированного хранения, предоставление регламентированного доступа пользователям к информации После получения положительных результатов от автоматизации в московском филиале было принято решение  о постепенном тиражировании системы на другие офисы компании.'
                        blockquote!= 'Внедрение системы Directum позволило организовать оперативное взаимодействие в области обмена документами между Московским и Мурманским представительствами МАГЭ, упростить и унифицировать текущие бизнес-процессы организации. Партнеры из «Новаком» оперативно и качественно внедрили решение и оказали нам помощь в освоении новой системы <span>рассказал Алексей Голубаев, начальник Управления вычислительных  и информационных систем, МАГЭ Москва</span>'
                .grid__cell
                    .banners
                        .banners__header Последние новости
                        .news-card.news-card--baner
                            .news-card__date
                                .news-card__date-inner
                                    div 08.06
                                    div 2017
                            a(href="#").news-card__images
                                img(src="../assets/index/images/news-item-bg.jpg")
                            .news-card__data
                                a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                                a(href="#").btn.btn--black.news-card__btn читать полностью
                        .news-card.news-card--baner
                            .news-card__date
                                .news-card__date-inner
                                    div 08.06
                                    div 2017
                            a(href="#").news-card__images
                                img(src="../assets/index/images/news-item-bg.jpg")
                            .news-card__data
                                a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                                a(href="#").btn.btn--black.news-card__btn читать полностью
    .info-content
        .box
            .info-content__header Справочная информация:
            .info-content__text!= '<b> Компания «Новаком» (Novacom)  </b>– ведущий интегратор, поставщик и разработчик информационных систем. Портфолио компании содержит большое количество реализованных проектов по заказной разработке и внедрению информационных систем с использованием различных платформ и технологий. C 2012 года Novacom входит в группу компаний Softline.'


    section.section.contact-face.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-press.png);")
        .box
            .heading пресс-служба
            .contact-face__info-inner
                .contact-face__images
                    img(src="../assets/index/images/otziv_personal1.jpg")
                .contact-face__info
                    .contact-face__name Ольга якута
                        .contact-face__position Специалист по маркетингу
                    a(href="tel:+375173283294").contact-face__link.contact-face__link--home-tel +375 (17) 328-32-94
                    a(href="mailto:V.Yakuta@novacom.by").contact-face__link.contact-face__link--mail V.Yakuta@novacom.by


block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

