extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Вкансия'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Работа
block main
    section.section.p-news(style="background-image: url(../assets/index/images/shadow__heading-news.png);")
        .box
            .heading Новости
            .grid
                .grid__cell
                    .news-card
                        .news-card__date
                            .news-card__date-inner
                                div 08.06
                                div 2017
                        a(href="#").news-card__images
                            img(src="../assets/index/images/news-item-bg.jpg")
                        .news-card__data
                            a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                            .news-card__content.
                                26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                                избран Былина Вячеслав Анатольевич, директор компании Novacom.
                                Совет Ассоциации является высшим органом управления Научно-
                                технологической ассоциации «Инфопарк».
                            a(href="#").btn.btn--black.news-card__btn читать полностью
                .grid__cell
                    .news-card
                        .news-card__date
                            .news-card__date-inner
                                div 08.06
                                div 2017
                        a(href="#").news-card__images
                            img(src="../assets/index/images/news-item-bg.jpg")
                        .news-card__data
                            a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                            .news-card__content.
                                26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                                избран Былина Вячеслав Анатольевич, директор компании Novacom.
                            a(href="#").btn.btn--black.news-card__btn читать полностью
                .grid__cell
                    .news-card
                        .news-card__date
                            .news-card__date-inner
                                div 08.06
                                div 2017
                        a(href="#").news-card__images
                            img(src="../assets/index/images/news-item-bg.jpg")
                        .news-card__data
                            a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                            .news-card__content.
                                26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                                избран Былина Вячеслав Анатольевич, директор компании Novacom.
                            a(href="#").btn.btn--black.news-card__btn читать полностью
                .grid__cell
                    .news-card
                        .news-card__date
                            .news-card__date-inner
                                div 08.06
                                div 2017
                        a(href="#").news-card__images
                            img(src="../assets/index/images/news-item-bg.jpg")
                        .news-card__data
                            a(href="#").news-card__header Директор Novacom избран Председателем Совета Ассоциации «Инфопарк»
                            .news-card__content.
                                26 мая 2016 года Председателем Совета Ассоциации «Инфопарк»
                                избран Былина Вячеслав Анатольевич, директор компании Novacom.
                                Совет Ассоциации является высшим органом управления Научно-
                                технологической ассоциации «Инфопарк».
                            a(href="#").btn.btn--black.news-card__btn читать полностью
            .btn-inner
                a(href="#").btn.btn--red Больше новостей
    section.section.contact-face.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-contact-face.png);")
        .box
            .heading Котактное лицо
            .contact-face__info-inner
                .contact-face__images
                    img(src="../assets/index/images/otziv_personal1.jpg")
                .contact-face__info
                    .contact-face__name Ольга якута
                    a(href="tel:+375172589698").contact-face__link.contact-face__link--home-tel +375 (17) 258-96-98
                    a(href="tel:+375 (29) 258-97-47").contact-face__link.contact-face__link--tel +375 (29) 258-97-47
                    a(href="mailto:V.Yakuta@novacom.by").contact-face__link.contact-face__link--mail V.Yakuta@novacom.by


block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

