extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Вкансия'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews.bg-layer.bg-cover.prewiews--open-vacancy(style="background-image: url(../assets/index/images/bg-p-open-vacancy.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading инженер-проектировщик
            .prewiews__content
                    span Добрый день, Уважаемый соискатель!
                    span «Мы делаем отличный продукт и активно используем в нашей работе the best minds. У нас замечательная команда, и в качестве ее расширения мы ищем уникального человека, который бы распространял идеологию Новаком среди всех наших партнеров, пусть даже и против их воли».'

block main
    section.section.def-list
        .section__inner
            .box
                .def-list__header Вы будете заниматься:
                ul.def-list__list
                    li.def-list__item Разработкой новых и усовершенствованием существующих устройств на базе ARM-микроконтроллеров;
                    li.def-list__item Разработкой структуры, архитектуры и схемотехники электронных устройств;
                    li.def-list__item Трассировкой печатных плат электронных устройств;
                    li.def-list__item Отладкой прототипов электронных устройств;
                    li.def-list__item Разработкой ПО для ARM-микроконтроллеров;
                    li.def-list__item Оформлением конструкторской документации (в соответствии с ЕСКД).
    section.section.demands-list.section--bg-red
        .section__inner
            .box
                .demands-list__header У Вас есть:
                .demands-list__small-header Высшее техническое образование;
                .content.content--demands-list
                    .grid
                        .grid__cell
                            p!= 'Знания:'
                            ul
                                li Технического английского языка;
                                li Цифровой и аналоговой схемотехники, современной элементной базы,архитектуры построения устройств на базе микроконтроллеров;
                                li Трассировки печатных плат устройств с высокоскоростными интерфейсами;
                                li Разработки ПО для ARM-микроконтроллеров на языке программирования С, устройств с использованием беспроводных интерфейсов (Wi-Fi, Bluetooth, GSM);
                            p Опыт работы:
                                ul
                                    li С периферией ARM-микроконтроллеров производства Atmel, STMicroelectronics
                        .grid__cell

                            p Опыт разработки:
                            ul
                                li Устройств с Ethernet-интерфейсом (lwIP стек), ПО на языке  программирования С++ для ARM-микроконтроллеров под управлением RTOS, КД
                            p Навыки работы с:
                            ul
                                li САПР Altium Designer, AutoCAD;
                                li IDE Keil uVision;
                                li САD Kompas-3D;
                                li IDE IAR, Atmel Studio
                //.demands-list__inner
                //    .demands-list__name-list Знания:
                //        ul.demands-list__list
                //            li.demands-list__item Технического английского языка;
                //            li.demands-list__item Цифровой и аналоговой схемотехники, современной элементной базы,архитектуры построения устройств на базе микроконтроллеров;
                //            li.demands-list__item Трассировки печатных плат устройств с высокоскоростными интерфейсами;
                //            li.demands-list__item Разработки ПО для ARM-микроконтроллеров на языке программирования С, устройств с использованием беспроводных интерфейсов (Wi-Fi, Bluetooth, GSM);
                //    .demands-list__name-list Опыт работы:
                //        ul.demands-list__list
                //            li.demands-list__item С периферией ARM-микроконтроллеров производства Atmel, STMicroelectronics
                //    .demands-list__name-list Опыт разработки:
                //        ul.demands-list__list
                //            li.demands-list__item Устройств с Ethernet-интерфейсом (lwIP стек), ПО на языке  программирования С++ для ARM-микроконтроллеров под управлением RTOS, КД
                //    .demands-list__name-list Навыки работы с:
                //        ul.demands-list__list
                //            li.demands-list__item САПР Altium Designer, AutoCAD;
                //            li.demands-list__item IDE Keil uVision;
                //            li.demands-list__item САD Kompas-3D;
                //            li.demands-list__item IDE IAR, Atmel Studio
    section.section.def-list
        .section__inner
            .box
                .def-list__header Мы предложим Вам:
                ul.def-list__list
                    li.def-list__item Отличное настроение, даже по понедельникам;
                    li.def-list__item Стать частью дружного коллектива;
                    li.def-list__item Испытать на себе продуманную систему прокачки и карьерного роста;
                    li.def-list__item Обучение Путям Силы под руководством опытных Рыцарей-Джедаев;
                    li.def-list__item Завладеть горшочком с золотом (по результатам собеседования);
                    li.def-list__item Получить ключ от полностью оборудованного Убежища в центре города;
                    li.def-list__item Навсегда изменить жизнь сотен тысяч людей во всем мире.
    section.section.contact-face.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-contact-face.png);")
        .box
            .heading Котактное лицо
            .contact-face__info-inner
                .contact-face__images
                    img(src="../assets/index/images/otziv_personal1.jpg")
                .contact-face__info
                    .contact-face__name Ольга якута
                    a(href="tel:+375172589698").contact-face__link.contact-face__link--home-tel +375 (17) 258-96-98
                    a(href="tel:+375 (29) 258-97-47").contact-face__link.contact-face__link--tel +375 (29) 258-97-47
                    a(href="mailto:V.Yakuta@novacom.by").contact-face__link.contact-face__link--mail V.Yakuta@novacom.by
                .contact-face__btn-inner
                    a(href="#").btn.contact-face__btn  откликнуться на вакансию
                    a(href="#").btn.btn--green.contact-face__btn  Apply with LinkedIn
    section.section.section--similar-vacancy
        .box
            .heading Похожие вакансии
            .hot-vacancy.hot-vacancy--white
                .hot-vacancy__item
                    .hot-vacancy__name Инженер-проектировщик
                    .hot-vacancy__value SPA
                    .hot-vacancy__btn-inner
                        a(href="#").hot-vacancy__btn подробнее о вакансии
                .hot-vacancy__item
                    .hot-vacancy__name Senior Project Manager
                    .hot-vacancy__value Embedded Systems Department
                    .hot-vacancy__btn-inner
                        a(href="#").hot-vacancy__btn подробнее о вакансии
                .hot-vacancy__item
                    .hot-vacancy__name Инженер-проектировщик
                    .hot-vacancy__value SPA
                    .hot-vacancy__btn-inner
                        a(href="#").hot-vacancy__btn подробнее о вакансии
                .hot-vacancy__item
                    .hot-vacancy__name Инженер-проектировщик
                    .hot-vacancy__value SPA
                    .hot-vacancy__btn-inner
                        a(href="#").hot-vacancy__btn подробнее о вакансии
                .hot-vacancy__item
                    .hot-vacancy__name Инженер-проектировщик
                    .hot-vacancy__value SPA
                    .hot-vacancy__btn-inner
                        a(href="#").hot-vacancy__btn подробнее о вакансии
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить


block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

