extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Проекты'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews.bg-layer.bg-cover.prewiews--open-vacancy(style="background-image: url(../assets/index/images/project-bg.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!= 'Электронная торговая <br> площадка для проведения <br>  аукционов'
            ul.heder-list
                li.heder-list__item оптимизация процедуры проведения аукционов;
                li.heder-list__item упрощение процедуры участия в аукционе;
                li.heder-list__item минимизация временных затрат на
                li.heder-list__item подготовительном этапе;
                li.heder-list__item привлечение большего числа участников;
                li.heder-list__item прозрачность и открытость процедуры реализации;

block main
    .project-technolog
        .box
            .project-technolog__inner
                .project-technolog__item
                    img(src= p_img + "ico-project-java.png")
                .project-technolog__item
                    img(src= p_img + "ico-project-sql.png")
                .project-technolog__item
                    img(src= p_img + "ico-project-MYsql.png")
                .project-technolog__item
                    img(src= p_img + "ico-project-apache.png")
    section.section.customer
        .section__inner
            .box
                .customer__inner
                    .customer__header Заказчик
                    hr
                    .customer__item
                        .customer__images
                            img(src= p_img + "customer-vostok.png")
                        .customer__data.data-customer
                            .data-customer__header ТД “Восточный”
                            .data-customer__content Торговый дом «Восточный» - сервисно-торговое республиканское унитарное предприятие.
                            a(href="#").data-customer__link www.td-vostochnyj.by
    section.section.section--bg-red.def-list.def-list--white
        .section__inner
            .box
                .def-list__header Цели и задачи
                ul.def-list__list
                    li.def-list__item оптимизация процедуры проведения аукционов;
                    li.def-list__item упрощение процедуры участия в аукционе;
                    li.def-list__item минимизация временных затрат на подготовительном этапе;
                    li.def-list__item привлечение большего числа участников;
                    li.def-list__item прозрачность и открытость процедуры реализации;
                    li.def-list__item повышение экономической эффективности.
    section.section.section--content
        .box
            .content.content--project
                h3 решение
                hr
                p.
                    В качестве решения была использована разработанная сотрудниками компании Новаком торговая площадка с адаптацией под требования
                    Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный»
                    публикуют аукционы, информацию по лотам, сроки проведения аукциона, другую общую информацию. Для участия в торгах пользователю
                    необходимо пройти Аккредитацию. Участником может стать любое заинтересованное лицо (как физическое, так и юридическое; как резидент
                    Республики Беларусь, так и нерезидент страны).

                p.
                    Система регистрации двухэтапная. На первой этапе заинтересованное лицо проходит аккредитацию. Получает письмо с подтверждением, после
                    этого участник завершает процедуру подачи аккредитации.
                    На главной странице системы Участник видит все активные аукционы. Выбрав интересующий его лот, он может просмотреть всю имеющуюся
                    информацию по лоту. Перед началом аукциона Участники вносят задаток (в случае, если Участник станет победителем аукциона, задаток
                    учитывается при окончательных расчётах за предмет аукциона по договору купли-продажи; если Участник не станет победителем аукциона,
                    задаток возвращается в течение 5 дней). Система предоставляет возможность Участнику отозвать свою заявку до момента начала аукциона.
                    В день проведения аукциона Участник проходит окончательную регистрацию после осуществления которой входит в комнату лота, по которому
                    будет участвовать в аукционе. С целью предотвращения лоббирования на площадке чьих-либо интересов Организатор аукциона видит лишь
                    обезличенный список Участников (код, под которым они участвуют).

                p.
                    По окончанию аукциона определяется Победитель, которому на почту придёт уведомление о том, что он стал Победителем, остальным Участникам
                    аукциона приходит код участника Победителя.
                h3 Результаты
                hr
                p Основная задача, которую Заказчик ставил перед разработчиками – упрощение процедуры организации торгов – выполнена в полной мере.
                p.content-name-list Кроме того, внедрение площадки способствовало решению следующих задач:
                ul
                    li устранение необходимости для Участников физического присутствия на этапе подачи заявления на участие в аукционе, а также во время его  проведения;
                    li снижение рисков Участников аукциона (платформа исключает лоббирование чьих-либо интересов);
                    li жизненный цикл аукциона составил 5 дней (с момента публикации до момента торгов);
                    li расчётная нагрузка системы до 200 аукционов в день.

    .slide-progect
        .box
            .slide-progect__header Следующик проект
            .owl-carousel.slide-progect__inner
                .slide-progect__item
                    .pr-solutions__item
                        a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                        .pr-solutions__data
                            .pr-solutions__header Электронная торговая площадка для проведения аукционов
                            .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                            .btn-inner.btn-inner--left
                                a(href='#').btn.btn--black.pr-solutions__btn читать полностью
                .slide-progect__item
                    .pr-solutions__item
                        a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                        .pr-solutions__data
                            .pr-solutions__header Электронная торговая площадка для проведения аукционов
                            .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                            .btn-inner.btn-inner--left
                                a(href='#').btn.btn--black.pr-solutions__btn читать полностью
                .slide-progect__item
                    .pr-solutions__item
                        a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                        .pr-solutions__data
                            .pr-solutions__header Электронная торговая площадка для проведения аукционов
                            .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                            .btn-inner.btn-inner--left
                                a(href='#').btn.btn--black.pr-solutions__btn читать полностью
                .slide-progect__item
                    .pr-solutions__item
                        a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                        .pr-solutions__data
                            .pr-solutions__header Электронная торговая площадка для проведения аукционов
                            .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                            .btn-inner.btn-inner--left
                                a(href='#').btn.btn--black.pr-solutions__btn читать полностью
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading запросить подробное описание
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить
block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

