extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Контакты'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-history.jpg);")
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
block main
    section.section.p-contacts(style="background-image: url(../assets/index/images/shadow__heading-contacts.png);")
        .box
            .heading контакты
            .p-contacts__header-title Есть вопросы? Мы готовы на них ответить!
            .p-contacts__inner
                .p-contacts__item
                    .p-contacts__header позвоните нам
                    a(href='tel:+375173283294').p-contacts__link-tel +375 (17) 328-32-94
                .p-contacts__item
                    .p-contacts__header напишите нам
                    a(href="mailto:info@novacom.by").p-contacts__link-mail info@novacom.by
                .p-contacts__item
                    .p-contacts__header приходите к нам в офис
                    .p-contacts__address!= 'Офис разработки и продаж в г. Минске <br> ул. Либаво-Роменская 23, 5 этаж, пом. 10'
                    .p-contacts__address Офис разработки в г. Гомель ул. Федюнинского, 17
    .maps.js-maps#maps
    section.section.contacts-form
        .box
            .contacts-form__inner
                .grid
                    .grid__cell
                        .p-contacts__header задайте свой вопрос
                        .contacts-form__inner
                            form.def-form
                                .def-form__row
                                    .def-form__group
                                        input(type="text", placeholder='Имя').def-form__input
                                        .def-form__helper
                                    .def-form__group
                                        input(type="text", placeholder='Организация ').def-form__input
                                        .def-form__helper Введите корректный телефон
                                .def-form__row
                                    .def-form__group
                                        input(type="text", placeholder='E-mail').def-form__input
                                        .def-form__helper
                                    .def-form__group
                                        input(type="text", placeholder='Телефон').def-form__input
                                        .def-form__helper
                                .def-form__row
                                    .def-form__group.def-form__group--textarea
                                        textarea(placeholder='Ваше сообщение').def-form__textarea
                                        .def-form__helper
                                .btn-inner
                                    button(type="submit" ).btn Отправить
                    .grid__cell.contacts-form__data-cell
                        .contacts-form__data-inner
                            .p-contacts__header иные способы связи
                            .contacts-form__title Организовать видеоконференцию через Skype, Lync
                            .contacts-form__btn.btn(data-popup="popup_callback") оставить заявку
                            a(href="#").select-partners!= 'Выбрать офис-партнёра в вашей стране ГК <br> Softline 30 стран 80 городов'

    .popup#popup_callback
        .popup__box
            .popup__body
                .feedback__header
                    a(class="js-popup__close popup__close close close_big" href="#")
                        span.close-span.close-span--first
                        span.close-span.close-span--last
                    .popup__heading
                        span оставьте заявку
                    form.def-form.def-form--popup
                        .def-form__row
                            .def-form__group
                                input(type="text", placeholder='Ваше имя').def-form__input
                                .def-form__helper
                        .def-form__row
                            .def-form__group
                                input(type="text", placeholder='Ваше компания ').def-form__input
                                .def-form__helper Введите корректный телефон
                        .def-form__row
                            .def-form__group
                                input(type="text", placeholder='Ваша должность').def-form__input
                                .def-form__helper
                        .def-form__row
                            .def-form__group.def-form__group--textarea
                                textarea(placeholder='Задайте свой вопрос').def-form__textarea
                                .def-form__helper
                        .btn-inner
                            input(type='button', value="отправить").btn.popup__btn

block scripts
    script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" )