extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'решения'
    - var p_img = '../assets/index/images/'

block previews
    .prewiews
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме

block main
    section.section.pr-solutions.form-search(style="background-image: url(../assets/index/images/shadow__heading-pr-solutions.png);")
        .box
            .heading решения
            .form-pr-solutions
                form.form-search__inner
                    .form-search__item
                        .def-form__group
                            .def-form__name Отрасль
                            select.def-form__select
                                option(value="" hidden disabled selected) услуги
                                option(value='Беларусь') услуги1
                                option(value='Беларусь') услуги2
                                option(value='Беларусь') услуги3
                                option(value='Беларусь') услуги4
                                option(value='Беларусь') услуги5
                    .form-search__item
                        .def-form__group
                            .def-form__name Технологии
                            select.def-form__select
                                option(value="" hidden disabled selected) java
                                    option(value='Беларусь') java
                                    option(value='Беларусь') java2
                                    option(value='Беларусь') java3
                                    option(value='Беларусь') java4
                                    option(value='Беларусь') java5
                    .form-search__item
                        .def-form__group
                            .def-form__name Экспертиза
                            select.def-form__select
                                option(value="" hidden disabled selected) Высоконагруженные системы
                                    option(value='Беларусь') Высоконагруженные системы1
                                    option(value='Беларусь') Высоконагруженные системы2
                                    option(value='Беларусь') Высоконагруженные системы3
                                    option(value='Беларусь') Высоконагруженные системы4
                                    option(value='Беларусь') Высоконагруженные системы5
            .form-search__result
                .form-search__result-item
                    span.form-search__result-close x
                    span услуги
                .form-search__result-item
                    span.form-search__result-close x
                    span java
            .pr-solutions__inner
                .pr-solutions__item

                    a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                    .pr-solutions__data
                        .pr-solutions__header Электронная торговая площадка для проведения аукционов
                        .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                        .btn-inner.btn-inner--left
                            a(href='#').btn.btn--black.pr-solutions__btn читать полностью
                .pr-solutions__item
                    a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                    .pr-solutions__data
                        .pr-solutions__header Электронная торговая площадка для проведения аукционов
                        .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                        .btn-inner.btn-inner--left
                            a(href='#').btn.btn--black.pr-solutions__btn читать полностью
                .pr-solutions__item
                    a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                    .pr-solutions__data
                        .pr-solutions__header Электронная торговая площадка для проведения аукционов
                        .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                        .btn-inner.btn-inner--left
                            a(href='#').btn.btn--black.pr-solutions__btn читать полностью
                .pr-solutions__item
                    a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                    .pr-solutions__data
                        .pr-solutions__header Электронная торговая площадка для проведения аукционов
                        .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                        .btn-inner.btn-inner--left
                            a(href='#').btn.btn--black.pr-solutions__btn читать полностью
                .pr-solutions__item
                    a(href="#").pr-solutions__images(style="background-image: url(../assets/index/images/project-solutions.jpg);")
                    .pr-solutions__data
                        .pr-solutions__header Электронная торговая площадка для проведения аукционов
                        .pr-solutions__content В качестве решения была использована разработанная сотрудниками компании             Новаком торговая площадка с адаптацией под требования Заказчика, что позволило осуществить внедрение системы в максимально короткий срок (1 месяц). Ответственные сотрудники ТД «Восточный» публикуют аукционы,    информацию по лотам, сроки проведения аукциона, другую общую информацию.
                        .btn-inner.btn-inner--left
                            a(href='#').btn.btn--black.pr-solutions__btn читать полностью
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading запросить подробное описание
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить


block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

