extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Резюме'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-p-rezume.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading не нашли подходящую вакансию?
            .prewiews__content Присылайте нам свое резюме, и мы свяжемся с вами,  когда появится что-то подходящее.



block main
    section.section.p-resume(style="background-image: url(../assets/index/images/shadow__heading-resume.png);")
        .box
            .heading Отправить резюме
            .p-resume__inner
                .grid
                    .grid__cell
                        .g-help__inner
                            form.def-form
                                .def-form__row
                                    .def-form__group
                                        input(type="text", placeholder='Имя').def-form__input
                                        .def-form__helper
                                    .def-form__group
                                        input(type="text", placeholder='Фамилия').def-form__input
                                        .def-form__helper Введите корректный телефон
                                .def-form__row
                                    .def-form__group
                                        input(type="text", placeholder='E-mail').def-form__input
                                        .def-form__helper
                                    .def-form__group
                                        input(type="text", placeholder='Телефон').def-form__input
                                        .def-form__helper
                                .def-form__row
                                    .def-form__group
                                        select.def-form__select
                                            option(value="" hidden disabled selected) Выберите страну
                                            option(value='Беларусь') Беларусь
                                            option(value='Беларусь') Беларусь
                                            option(value='Беларусь') Беларусь
                                            option(value='Беларусь') Беларусь
                                            option(value='Беларусь') Беларусь
                                        .def-form__helper
                                    .def-form__group
                                        select.def-form__select
                                            option(value="" hidden disabled selected) Выберите город
                                            option(value='Беларусь') Минск
                                            option(value='Беларусь') Минск
                                            option(value='Беларусь') Минск
                                            option(value='Беларусь') Минск
                                            option(value='Беларусь') Минск
                                        .def-form__helper
                                .def-form__row
                                    .def-form__group.def-form__group--file
                                        .def-form__file-inner
                                            input(type="file", class="def-form__file-input", id="file", multiple)
                                            label(for="file", class="def-form__file-label") Перетащите сюда свое резюме или кликните, чтобы выбрать из папки
                                        .def-form__file-upload resume.txt
                                .def-form__row
                                    .def-form__group.def-form__group--textarea
                                        textarea(placeholder='Ваше сообщение').def-form__textarea
                                        .def-form__helper
                        .btn-inner
                            a(href="#").btn Отправить
                    .grid__cell
                        .btn-inner.btn-inner--right
                            a(href="#").btn.btn--green использовать linkedin




block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

