extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution11.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading.heading--sloution1-1!=  'Системы телеметрии <br> и межмашинное взаимодействие   '
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Умное предприятие сегодня является основной конкурентоспособности завтра'
block main
    .solution-preview
        .box
            .solution-preview__inner.solution-preview__inner--3cell
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution21-head2.png')
                    .solution-preview__name Сбор данных с распределённых устройств


                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution21-head1.png')
                    .solution-preview__name Передача данных в режиме реального времени



                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution21-head3.png')
                    .solution-preview__name Анализ данных и мониторинг процессов

    section.section(style="background-image: url(../assets/index/images/shadow__heading-discription.png);")
        .box
            .heading описание
            .section__content.
                Cоздаваемые нами системы на основе технологий телеметрии и межмашинного взаимодействия позволяют собирать большие объемы данных с разного типа датчиков и устройств, обеспечивать их передачу по каналам беспроводной связи, анализировать входящую информацию, прогнозировать действия и обеспечивать удаленное управление.

    section.section.section--solution-block.section--bg-gray
        .box
            .solution__header Подходы к реализации
            ul.solution__list
                li.solution__item Организация сбора данных с датчиков разных типов и производителей
                li.solution__item Обеспечение анализа и хранения больших данных
                li.solution__item Доступ к информации через веб и мобильные приложения
                li.solution__item Создание единого информационного пространства в зависимости от для групп пользователей и типов данных
                li.solution__item  Работоспособность устройств в разных условиях
    section.section.interaction(style="background-image: url(../assets/index/images/shadow__heading-solutions.png);")
        .box
            .heading.heading--small-mobile Комплексные решения
            .interaction__inner
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction1.png")
                    .interaction__name Разработка прототипа устройств
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction2.png")
                    .interaction__name.
                        Создание <br>
                        микроконтроллеров
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction3.png")
                    .interaction__name.
                        Программный <br>
                        комплекс
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction4.png")
                    .interaction__name.
                        Каналы обмена <br>
                        данными
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction5.png")
                    .interaction__name.
                        Системы <br>
                        безопасности
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle.show-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solut21-interaction6.png")
                    .interaction__name.
                        Мобильные и веб <br>
                        приложения
    .small-news-slider.owl-carousel
        a(href="#").small-news
            .box
                .small-news__header 8 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 10 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 12 сентября состоится конференция “Открытые дни DIRECTUM”
    section.section.section--bg-red.team-project.team-project--solution21.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project-info.jpg);")
        .box
            .team-project__header.
                Мы занимаемся разработкой систем в соответствии
                со следующими видами работ:
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project1.png')
                    .team-project__content.
                        Обследование и подготовка
                        концепции и технического задания
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project2.png')
                    .team-project__content.
                        Производство либо поставка
                        оборудования и материалов
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project3.png')
                    .team-project__content.
                        Разработка технического проекта
                        и согласование с надзорными органами
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project4.png')
                    .team-project__content.
                        Монтаж и пусконаладочные
                        работы
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project5.png')
                    .team-project__content.
                        Разработка программной
                        платформы
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions21-project6.png')
                    .team-project__content.
                        Обеспечение взаимодействия
                        со смежными системами,
                        гарантийное сопровождение
    section.section.view-our-project.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);")
        .box
            .heading.heading--small-mobile Ознакомьтесь с нашими проектами
            .view-our-project__inner
                .view-our-projects__slider-3cell.owl-carousel
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-1.jpg")
                        .view-our-project__data
                            .view-our-project__header Система контроля кассового оборудования
                            .view-our-project__content.
                                Система обеспечивает сбор информации
                                об оплате товаров и услуг через кассы
                                и иные платежные терминалы в режиме
                                реального времени, их хранение и анализ.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-2.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для сбора данных
                                с приборов учета различных производителей,
                                анализа отклонений и контроля их
                                использования
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-3.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для непрерывного мониторинга
                                состава и количества вредных веществ
                                в атмосфере, и последующего прогнозирования
                                действий персонала в аварийных ситуациях.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью

    section.section.g-klients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading наши клиенты
            .g-klients__slider
                .slid-clients.slid-clients--solution
                    .slid-clients__inner.owl-carousel
                        .slid-clients__item
                            img(src=p_img + "ico-clients1.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients2.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients3.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients4.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients5.png")
    section.section.part-of-team.part-of-team--p-work.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project.jpg)")
        .section__inner
            .box
                .heading Подходы к разработке
                .part-of-team__tittle
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Полный цикл разработки от проектирования архитектуры до сопровождения и развития системы
                    li.part-of-team__item
                        .part-of-team__header.
                            Выделенные проектные команды,
                            объединяющие техническую и отраслевую
                            экспертизу
                    li.part-of-team__item
                        .part-of-team__header.
                            Использование Learn и Agile подходов
                            в работах проектных команд
                    li.part-of-team__item
                        .part-of-team__header.
                            Соблюдение сроков и договорных
                            условий
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading.heading--small-mobile запросить дополнительную <br> информацию
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

