extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution4-1.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading.heading--sloution1-1!=  'Электронная торговая <br> площадка '
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Решение является онлайн порталом для проведения торгов и аукционов в режиме реального времени'
block main
    .solution-preview.solution-preview--solution41
        .box
            .solution-preview__header актуально
            .solution-preview__inner.solution-preview__inner--3cell
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution41-head1.png')
                    .solution-preview__name Государству
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution41-head2.png')
                    .solution-preview__name Банкам
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution41-head3.png')
                    .solution-preview__name Крупным предприятиям и холдингам

    section.section(style="background-image: url(../assets/index/images/shadow__heading-discription.png);")
        .box
            .heading описание
            .section__content.
                Решение позволяет продавцам и покупателям просто и быстро осуществлять сделки, проводить торги в режиме реального времени и обеспечивает выбор оптимального предложения и соотношения цена/качество. Знание регламентов и опыт внедрения торговых площадок позволяют нам адаптировать функционал решения под конкретные задачи.

    section.section.section--solution-block.section--bg-gray
        .box
            .solution__header Подходы к реализации
            ul.solution__list
                li.solution__item.
                    Адаптация под бизнес-процесс заказчика
                    и законодательство
                li.solution__item.
                    Использование электронной цифровой
                    подписи (ЭЦП)
                li.solution__item.
                    Наличие базовой платформы позволяет
                    сократить время на внедрение и итоговую
                    стоимость
                li.solution__item.
                    Работа в наиболее распространенных браузерах
                    (Internet Explorer, Google Chrome, Opera) и иных
                li.solution__item.
                    Возможна доработка дополнительных модулей
                li.solution__item.
                    Кастомизация под корпоративный стиль
                li.solution__item.
                    Коробочная версия либо использование по модели
                    SaaS
    section.section.participation-assoc
        .box
            .solution__header типы торгов
            .participation-assoc__inner.participation-assoc__inner--2cell
                .participation-assoc__item
                    .participation-assoc__inner-item
                        .participation-assoc__name Аукционы
                        ul.participation-assoc__list
                            li Коммерческие продажи произведенной продукции, услуг
                            li Продажа и аренда недвижимости, земельных участков
                            li Продажа залогового имущества, конфискованного товара
                            li Продажа неликвидных товаров
                .participation-assoc__item
                    .participation-assoc__inner-item
                        .participation-assoc__name закупки
                        ul.participation-assoc__list
                            li Государственные тендерные закупочные системы
                            li Корпоративные ресурсы предприятий для проведения коммерческих закупок (сырье и материалы, товары, услуги)

    .small-news-slider.owl-carousel
        a(href="#").small-news
            .box
                .small-news__header 8 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 10 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 12 сентября состоится конференция “Открытые дни DIRECTUM”


    section.section.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-oportunity.png);")
        .box
            .heading.heading--small-mobile Основные возможности
            ul.solution__list
                li.solution__item.
                    Понижение либо повышение цены продажи товара
                    либо услуги с шагом, определённым оператором
                li.solution__item.
                    Многоступенчатый отбор участников и минимизация
                    рисков срыва аукционов: (аккредитация участников,
                    регистрация на торги и т.п.)
                li.solution__item.
                    Блокирование сумм задатков и продажи на счетах
                    участников
                li.solution__item.
                    Ограничение по времени на каждую ставку
                li.solution__item.
                    Использование торгового робота
                li.solution__item.
                    Публичные либо закрытые онлайн-торги
                li.solution__item.
                    Публикация результатов, ведение статистики
    section.section.section--bg-red.team-project.team-project--solution21.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);")
        .box
            .heading.heading--small-mobile Преимущества платформы
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project1.png')
                    .team-project__content
                        .team-project__item-title.
                            Экономит финансовые <br>
                            и временные ресурсы
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project2.png')
                    .team-project__content
                        .team-project__item-title.
                            Исключает фактор коррупции <br>
                            и предоставляет равные <br>
                            возможности всем участникам <br>
                            торгов
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project3.png')
                    .team-project__content
                        .team-project__item-title.
                            Отслеживает процедуры <br>
                            и регламенты <br>
                            (мониторинг сделок, графики <br>
                            платежей, поставок и т.п).
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project4.png')
                    .team-project__content
                        .team-project__item-title.
                            Расширяет географию <br>
                            участников
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project5.png')
                    .team-project__content
                        .team-project__item-title.
                            Обеспечивает максимальный <br>
                            охват участников
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions41-project6.png')
                    .team-project__content
                        .team-project__item-title.
                            Является эффективным <br>
                            инструментом маркетинга
    section.section.view-our-project.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);")
        .box
            .heading.heading--small-mobile Ознакомьтесь с нашими проектами
            .view-our-project__inner
                .view-our-projects__slider.owl-carousel
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our--solution41-project1.jpg")
                        .view-our-project__data
                            .view-our-project__header Минский городской центр недвижимости
                            .view-our-project__content.
                                инструмент налогового администрирования, обеспечивающий
                                автоматизацию процесса контроля за необоснованным использованием
                                налоговых вычетов по НДС и правильным отражением налоговой
                                базы НДС в декларациях по НДС
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our--solution41-project2.jpg")
                        .view-our-project__data
                            .view-our-project__header ТД Восточный
                            .view-our-project__content.
                                Автоматизированная система управления электронным архивом,
                                с помощью которой можно вести учёт поступления документов,
                                долговременно хранить их, а также осуществлять поиск в электронном
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
    section.section.g-klients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading наши клиенты
            .g-klients__slider
                .slid-clients.slid-clients--solution
                    .slid-clients__inner.owl-carousel
                        .slid-clients__item
                            img(src=p_img + "ico-clients1.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients2.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients3.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients4.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients5.png")
    section.section.part-of-team.part-of-team--p-work.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project.jpg)")
        .section__inner
            .box
                .heading Подходы к разработке
                .part-of-team__tittle
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Полный цикл разработки от проектирования архитектуры до сопровождения и развития системы
                    li.part-of-team__item
                        .part-of-team__header.
                            Выделенные проектные команды,
                            объединяющие техническую и отраслевую
                            экспертизу
                    li.part-of-team__item
                        .part-of-team__header.
                            Использование Learn и Agile подходов
                            в работах проектных команд
                    li.part-of-team__item
                        .part-of-team__header.
                            Соблюдение сроков и договорных
                            условий
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading.heading--small-mobile запросить дополнительную <br> информацию
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

