extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution3-1.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!=  'Управление бизнес- <br> процессами (workflow)  '
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Структурируем деловые процессы предприятий, иерархических и территориально-распределенных структур.'
block main
    .solution-preview
        .box
            .solution-preview__inner
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution31-head1.png')
                    .solution-preview__name Создаем удобный и понятный механизм взаимодействия
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution31-head2.png')
                    .solution-preview__name Обеспечиваем совместную работу над задачами
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution31-head3.png')
                    .solution-preview__name Производим контроль исполнения заданий

                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution31-head4.png')
                    .solution-preview__name Обеспечиваем быстрый запуск новых бизнес-процессов
    section.section(style="background-image: url(../assets/index/images/shadow__heading-discription.png);")
        .box
            .heading описание
            .section__content.
                Создаваемые нами workflow системы позволяют упорядочить, структурировать и автоматизировать процессы и задания, выполняемые последовательно либо параллельно отдельными подразделениями, либо участниками рабочих групп. Возможности систем позволяют управлять потоком операций и контролировать процессы, что обеспечивает быстрое и эффективное достижение планируемого результата.

    section.section.section--solution-block.section--bg-gray
        .box
            .solution__header Подходы к реализации
            ul.solution__list
                li.solution__item Адаптация под индустрии и предприятия
                li.solution__item.
                    Гибкие настройки при введение новых
                    либо изменении текущих процессов
                li.solution__item.
                    Централизованное хранение информации
                li.solution__item.
                    Разграничение прав доступа и обеспечение
                    информационной безопасности
                li.solution__item.
                    Организация как регламентированных, так и свободных
                    процессов взаимодействия между сотрудниками при
                    совместной работе
                li.solution__item.
                    Гарантированная и оперативная доставка информации
                    участникам процесса
                li.solution__item.
                    Высокая масштабируемость по одновременно
                    работающим пользователям, объемам задач и типам
                    документов, объемам баз данных
    section.section.participation-assoc
        .box
            .solution__header платформы и технологии
            .participation-assoc__inner.participation-assoc__inner--platform
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span Выбор базовой платформы :
                        span Linux, Windows
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span Базы данных:
                        span  Oracle, MS SQL, MySQL, PostgreSQL, Firebird
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span интеграция:
                        span  1С, MS CRM, SAP и иными системами
    .small-news-slider.owl-carousel
        a(href="#").small-news
            .box
                .small-news__header 8 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 10 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 12 сентября состоится конференция “Открытые дни DIRECTUM”
    section.section.section--bg-red.team-project.team-project--solution21.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);")
        .box
            .heading.heading--small-mobile Преимущества
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project1.png')
                    .team-project__content
                        .team-project__item-title.
                            Повышение исполнительской <br>
                            дисциплины
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project2.png')
                    .team-project__content
                        .team-project__item-title.
                            Эффективное взаимодействие <br>
                            сотрудников при работе  <br>
                            над задачами
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project3.png')
                    .team-project__content
                        .team-project__item-title.
                            Оперативная работа <br>
                            над сложными и рутинными <br>
                            процессами
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project4.png')
                    .team-project__content
                        .team-project__item-title.
                            Оперативный поиск и анализ <br>
                            информации по основным процессам
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project5.png')
                    .team-project__content
                        .team-project__item-title.
                            Соблюдение законодательных <br>
                            и корпоративных требований
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions31-project6.png')
                    .team-project__content
                        .team-project__item-title.
                            Сокращение времени на <br>
                            выполнение операций
    section.section.view-our-project.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);")
        .box
            .heading.heading--small-mobile Ознакомьтесь с нашими проектами
            .view-our-project__inner
                .view-our-projects__slider-3cell.owl-carousel
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-1.jpg")
                        .view-our-project__data
                            .view-our-project__header Система контроля кассового оборудования
                            .view-our-project__content.
                                Система обеспечивает сбор информации
                                об оплате товаров и услуг через кассы
                                и иные платежные терминалы в режиме
                                реального времени, их хранение и анализ.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-2.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для сбора данных
                                с приборов учета различных производителей,
                                анализа отклонений и контроля их
                                использования
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-3.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для непрерывного мониторинга
                                состава и количества вредных веществ
                                в атмосфере, и последующего прогнозирования
                                действий персонала в аварийных ситуациях.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
    section.section.g-klients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading наши клиенты
            .g-klients__slider
                .slid-clients.slid-clients--solution
                    .slid-clients__inner.owl-carousel
                        .slid-clients__item
                            img(src=p_img + "ico-clients1.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients2.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients3.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients4.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients5.png")
    section.section.part-of-team.part-of-team--p-work.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project.jpg)")
        .section__inner
            .box
                .heading Подходы к разработке
                .part-of-team__tittle
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Глубокая проработка и экспертиза отраслевых процессов
                    li.part-of-team__item
                        .part-of-team__header.
                            Высокая производительность
                    li.part-of-team__item
                        .part-of-team__header.
                            Надежность и отказоустойчивость систем
                    li.part-of-team__item
                        .part-of-team__header.
                            Широкие интеграционные возможности
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading.heading--small-mobile Заказать демонстрацию <br> решения
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

