extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution4.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!=  'Электронная коммерция <br> (e-commerce)'
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Мы предлагаем разработанные платформы для электронного обмена информацией (EDI) и электронной торговли (e-trade).  Решения позволяют осуществлять торговые сделки онлайн с проведением финансовых транзакций и обменом электронными документами.  '
block main
    .solution-preview
        .box
            .solution-preview__inner.solution-preview__inner--3cell
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution4-head1.png')
                    .solution-preview__name Платформа для <br> вашего бизнеса
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution4-head2.png')
                    .solution-preview__name Готовое решение
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution4-head3.png')
                    .solution-preview__name Быстрый запуск
    section.section.section--bg-gray.solut-services(style="background-image: url(../assets/index/images/shadow__heading-services.png);")
        .box
            .heading услуги
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution4-bg-services1.jpg);")
                            .solut-services__name латформа EDI
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution4-bg-services2.jpg);")
                            .solut-services__name электронная торговая <br> площадка
                            .btn.btn--white-red  подробнее
    section.section.section--bg-red.team-project.team-project--solution21.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);")
        .box
            .heading.heading--small-mobile Преимущества платформы
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project1.png')
                    .team-project__content
                        .team-project__item-title.
                            Рост бизнеса за счет <br>
                            повышения лояльности
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project2.png')
                    .team-project__content
                        .team-project__item-title.
                            Расширение географии <br>
                            клиентов
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project3.png')
                    .team-project__content
                        .team-project__item-title.
                            Мультиканальное решение, <br>
                            интегрируемое с корпоративными <br>
                            и платежными системами
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project4.png')
                    .team-project__content
                        .team-project__item-title.
                            Работает в сегментах <br>
                            B2B, B2C, B2G
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project5.png')
                    .team-project__content
                        .team-project__item-title.
                            Оперативные и  <br>
                            удобные транзакции
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions4-project6.png')
                    .team-project__content
                        .team-project__item-title.
                            Защита информации <br>
                            и данных
    section.section.g-otzivi.section--bg-red(style="background-image: url(../assets/index/images/shadow__heading-reviews.png);")
        .box
            .heading отзывы клиентов
            .g-otzivi__slider
                .slider-otziv
                    .owl-carousel.slider-otziv__inner
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb-solution4.png")
                                .slider-otziv__header И.Н. Ладутенко
                                .slider-otziv__tittle Первый заместитель директора

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                В ходе реализации проекта ООО
                                «Управляющая компания холдинга
                                «Новаком Групп» проявила себя как надёжная
                                компания, использующая отлаженные
                                процессы проектирования, разработки,
                                документирования, внедрения и
                                сопровождения решений любого масштаба
                                и уровня сложности, способная организовать
                                работы над проектом в условиях сжатых
                                сроков.

                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь
                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект
                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
    section.section.section--bg-gray.other-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading.heading--small-mobile!= 'другие компетенции <span> novacom </span>'
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);")
                            .solut-services__name заказная разработка <br> информационных систем
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);")
                            .solut-services__name электронное взаимодействие
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);")
                            .solut-services__name промышленный <br> интернет вещей
                            .btn.btn--white-red подробнее
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading.heading--small-mobile заказать демонстрацию <br> платформы
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

