extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading решения Novacom
            .prewiews__content.prewiews__content--solutions
                span!= 'Современные бизнес-процессы требуют использование высоких технологий. <br> Наш опыт и знания охватывают многие отрасли и направления, <br> что позволяет нам предоставлять нашим клиентам актуальные программные продукты и услуги.'
block main
    section.section
        .box
            .heading.heading--small-mobile!= 'Решения для цифровой <br> трансформации '
            .section__content.
                Более чем за 10 лет работы мы развили свои навыки и экспертизу и готовы предложить своим клиентам современные высокотехнологичные решения. Наш опыт подтверждается числом успешно реализованных проектов, а также отзывами наших клиентов.
    .index-prewiews
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner1.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'заказная разработка <br>  информационных систем'
                    a(href="#").index-prewiews__btn.btn.btn--white узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner2.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'промышленный <br> интернет вещей'
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner3.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'электронное <br> взаимодействие'
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше
        .index-prewiews__item
            .index-prewiews__item-inner.bg-layer(style="background-image: url(../assets/index/images/index-banner4.jpg)")
                .index-prewiews__inner
                    .index-prewiews__header!= 'Электронная <br> коммерция '
                    a(href="#").index-prewiews__btn.btn.btn--white  узнать больше
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading чем мы можем вам помочь?
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

