extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution3.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!=  'электронное <br> взаимодействие'
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Комплексные системы для внутреннего и внешнего взаимодействия обеспечивают  единое информационное поле для руководителей, сотрудников,поставщиков. Мы внедряем системы класса ECM (Enterprise Content Management), позволяющие управлять процессами и большими объемами информации, включая совместную работу и долговременное хранение. '
block main
    .solution-preview
        .box
            .solution-preview__inner
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution3-head1.png')
                    .solution-preview__name.
                        Быстрый обмен
                        информацией и
                        документами
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution3-head2.png')
                    .solution-preview__name.
                        Совместная работа
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution3-head3.png')
                    .solution-preview__name.
                        Контроль выполнения
                        задач
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution3-head4.png')
                    .solution-preview__name.
                        Единое хранилище
                        для всех документов
    .solution-circe
        .box
            .info-companu
                .info-companu__inner
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution3-circle1.png")
                        .info-companu__header.
                            10 лет опыт работы
                            с системами электронного
                            документооборота
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution3-circle2.png")
                        .info-companu__header.
                            Более 200 внедренных
                            проектов
    section.section.section--bg-gray.solut-services(style="background-image: url(../assets/index/images/shadow__heading-services.png);")
        .box
            .heading услуги
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution3-bg-services1.jpg);")
                            .solut-services__name.
                                Управление бизнес-
                                процессами (workflow)
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution3-bg-services2.jpg);")
                            .solut-services__name.
                                Электронный
                                документооборот
                                (docflow)
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution3-bg-services3.jpg);")
                            .solut-services__name.
                                Электронный архив
                            .btn.btn--white-red  подробнее
    section.section.interaction(style="background-image: url(../assets/index/images/shadow__heading-implementation.png);")
        .box
            .heading.heading--small-mobile Результаты внедрения
            .interaction__inner
                .interaction__item.interaction__item--50
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                    img(src= p_img + "ico-solution3-interaction1.png")
                    .interaction__name.
                        Структурированная система
                        для управления жизненных
                        циклов информации и документов
                .interaction__item.interaction__item--50
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solution3-interaction2.png")
                    .interaction__name.
                        Оперативный процесс
                        согласования с возможностью
                        удаленной работы
                .interaction__item.interaction__item--50
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solution3-interaction3.png")
                    .interaction__name.
                        Соответствие регламентам,
                        бизнес-процессам, требованиям
                        законодательства
                .interaction__item.interaction__item--50
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-solution3-interaction4.png")
                    .interaction__name.
                        Сохранение юридической
                        значимости документов
    section.section.section--bg-gray.solut-technologi(style="background-image: url(../assets/index/images/shadow__heading-technological.png);")
        .box
            .heading технологии
            .solut-technologi__inner
                .solut-technologi__item
                    img(src=p_img + "ico-project-filenet.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-opentext.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-direcrim.png")
    section.section.section--bg-red.team-project.team-project--solution21.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);")
        .box
            .heading.heading--small-mobile Преимущества
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project1.png')
                    .team-project__content
                        .team-project__item-title.
                            Быстрый и удобный <br>
                            поиск информации
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project2.png')
                    .team-project__content
                        .team-project__item-title.
                            Возможность создавать удаленные <br>
                            офисы без привязки к рабочим <br>
                            местам с сохранением функций <br>
                            планирования и контроля
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project3.png')
                    .team-project__content
                        .team-project__item-title.
                            Совместная и последовательная <br>
                            работа с контентом с сохранением <br>
                            истории версий документов
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project4.png')
                    .team-project__content
                        .team-project__item-title.
                            Единое и длительное хранение <br>
                            контента и документов
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project5.png')
                    .team-project__content
                        .team-project__item-title.
                            Работа на десктопах и <br>
                            мобильных устройствах
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions3-project6.png')
                    .team-project__content
                        .team-project__item-title.
                            Использование электронной <br>
                            цифровой подписи
    section.section.section--bg-gray.how-we-work(style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);")
        .box
            .heading как мы работаем
            .how-we-work__inner
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work1.png")
                        .how-we-work__count 1
                    .how-we-work__data
                        .how-we-work__header.
                            Проведение аудита текущих <br>
                            процессов
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work2.png")
                        .how-we-work__count 2
                    .how-we-work__data
                        .how-we-work__header.
                            Выбор платформы для <br>
                            автоматизации и предварительный
                            расчёт бюджета
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work3.png")
                        .how-we-work__count 3
                    .how-we-work__data
                        .how-we-work__header.
                            Создание карты оптимального <br>
                            взаимодействия и подготовка <br>
                            технического задания
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work4.png")
                        .how-we-work__count 6
                    .how-we-work__data
                        .how-we-work__header.
                            Масштабирование системы, <br>
                            обучение пользователей, <br>
                            техническое сопровождение
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work5.png")
                        .how-we-work__count 5
                    .how-we-work__data
                        .how-we-work__header.
                            Тестирование системы на одном <br>
                            подразделении либо процессе
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut3-how-work6.png")
                        .how-we-work__count 4
                    .how-we-work__data
                        .how-we-work__header.
                            Доработка системы под <br>
                            бизнес-процессы и требования


    section.section.g-otzivi.section--bg-red(style="background-image: url(../assets/index/images/shadow__heading-reviews.png);")
        .box
            .heading отзывы клиентов
            .g-otzivi__slider
                .slider-otziv
                    .owl-carousel.slider-otziv__inner
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь
                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект
                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
    section.section.section--bg-gray.other-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading.heading--small-mobile!= 'другие компетенции <span> novacom </span>'
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);")
                            .solut-services__name промышленный интернет вещей
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);")
                            .solut-services__name электронное взаимодействие
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);")
                            .solut-services__name прикладное программирование
                            .btn.btn--white-red  подробнее
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading Заказать аудит процессов
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

