extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution2.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!=  'промышленный интернет <br> вещей'
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Развитие индустрии промышленного интернета вещей позволяют существенно нарастить качество и  производственные мощности промышленных предприятий, сфер услуг, ЖКХ и иных отраслей, оказывающих влияние на качество жизни. Мы создаем комплексные решения, объединяющие аппаратную часть, каналы передачи данных и программные комплексы.'
block main
    .solution-preview
        .box
            .solution-preview__inner
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution2-head1.png')
                    .solution-preview__name.
                        Экономический эффект
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution2-head2.png')
                    .solution-preview__name.
                        Разумное использование
                        ресурсов
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution2-head3.png')
                    .solution-preview__name.
                        Передача и анализ
                        больших данных
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution-head4.png')
                    .solution-preview__name.
                        Международные
                        стандарты
    .solution-circe
        .box
            .info-companu
                .info-companu__inner
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution2-circle1.png")
                        .info-companu__header.
                            Индивидуальная
                            разработка
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution2-circle2.png")
                        .info-companu__header.
                            Адаптируемые решения
    section.section.section--bg-gray.solut-services(style="background-image: url(../assets/index/images/shadow__heading-services.png);")
        .box
            .heading услуги
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution2-bg-services1.jpg);")
                            .solut-services__name.
                                Системы телеметрии
                                и межмашинное
                                взаимодействие
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution2-bg-services2.jpg);")
                            .solut-services__name.
                                Системы фискализации
                                денежного оборота
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution2-bg-services3.jpg);")
                            .solut-services__name.
                                Системы учета
                                энергоресурсов
                            .btn.btn--white-red  подробнее
    section.section.solut-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading индустрии
            .solut-industry__title!= 'Создание комплексных систем непременно сочетает экспертизу в области современных информационных технологий и конкретной предметной среде. В данном случае разработчики непрерывно работают с внутренними либо привлекаемыми отраслевыми экспертами для создания кастомизированного решения. Реализованные проекты позволили нам накопить опыт и знания в следующих сферах:'
            .solut-industry__inner
                .grid
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry1.jpg);")
                            .solut-industry__header государство
                            .solut-industry__content.
                                Мониторинг и контроль прослеживаемости товаров, наличных денежных платежей и иных объектов
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry2.jpg);")
                            .solut-industry__header производство
                            .solut-industry__content.
                                Повышение эффективности существующих производственных и технологических процессов, снижение потребности в капитальных затратах.
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry3.jpg);")
                            .solut-industry__header умные города
                            .solut-industry__content.
                                Оптимизация использования энергии, создание безопасных городов и умных домов, в котором существующие ресурсы используются наилучшим образом.
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry4.jpg);")
                            .solut-industry__header логистика
                            .solut-industry__content.
                                Получение информации в режиме реального времени о работе автотранспортных средств, быстрый и удобный поиск нужного объекта на больших территориях.
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry5.jpg);")
                            .solut-industry__header энергия
                            .solut-industry__content.
                                Оптимизация производства и сокращение затрат для энергетических компаний, помощь организациям и потребителям в управлении энергетическими потоками
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution2-industry6.jpg);")
                            .solut-industry__header финансовые услуги
                            .solut-industry__content.
                                Контролируемые банковские операции, начиная от банкоматов до банковского онлайн обслуживания.
    section.section.section--bg-red.solution2-table-data(style="background-image: url(../assets/index/images/shadow__heading-how-work-red.png);")
        .box
            .heading.heading--small-mobile  как работает промышленный <br> интернет вещей
            .solution2-table-data__images
                img(src=p_img + "solution2-table-data.png")
    section.section.view-our-project.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);")
        .box
            .heading.heading--small-mobile внедрения
            .view-our-project__inner
                .view-our-projects__slider-3cell.owl-carousel
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-1.jpg")
                        .view-our-project__data
                            .view-our-project__header Система контроля кассового оборудования
                            .view-our-project__content.
                                Система обеспечивает сбор информации
                                об оплате товаров и услуг через кассы
                                и иные платежные терминалы в режиме
                                реального времени, их хранение и анализ.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-2.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для сбора данных
                                с приборов учета различных производителей,
                                анализа отклонений и контроля их
                                использования
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project-solut21-3.jpg")
                        .view-our-project__data
                            .view-our-project__header Система учета энергоресурсов
                            .view-our-project__content.
                                Предназначена для непрерывного мониторинга
                                состава и количества вредных веществ
                                в атмосфере, и последующего прогнозирования
                                действий персонала в аварийных ситуациях.
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
    section.section.section--bg-gray.how-we-work(style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);")
        .box
            .heading как мы работаем
            .how-we-work__inner
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut2-how-work1.png")
                        .how-we-work__count 1
                    .how-we-work__data
                        .how-we-work__header.
                            Мы знакомимся с вашими
                            процессами и совместно
                            определяем объекты и процессы
                            автоматизации
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut2-how-work2.png")
                        .how-we-work__count 2
                    .how-we-work__data
                        .how-we-work__header.
                            Наши специалисты анализируют
                            и оценивают реализацию
                            проекта с использованием
                            технологий Internet of things.
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-solut2-how-work3.png")
                        .how-we-work__count 3
                    .how-we-work__data
                        .how-we-work__header.
                            Мы разрабатываем
                            реализации идеи,
                            определяем этапы и стоимость
                            услуг разработки.
    section.section.section--bg-red.team-project.team-project--solution2.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-advantages-platform.jpg);")
        .box
            .heading.heading--small-mobile Преимущества
            .team-project__inner
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project1.png')
                    .team-project__content
                        .team-project__item-name возможность управления
                        .team-project__item-title Расширенные возможности управления и аналитики данных
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project2.png')
                    .team-project__content
                        .team-project__item-name Оптимальные сроки внедрения
                        .team-project__item-title.
                            Опыт работы в сфере IT более 10 лет позволяет
                            нам оперативно создавать и внедрять
                            разработанные системы
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project3.png')
                    .team-project__content
                        .team-project__item-name Масштабируемость
                        .team-project__item-title.
                            Обеспечивается масштабируемость
                            вычислений в системах «устройства-облако»
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project4.png')
                    .team-project__content
                        .team-project__item-name Минимизация рисков
                        .team-project__item-title.
                            Наша команда обладает широкими экспертными
                            знаниями в области IoT
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project5.png')
                    .team-project__content
                        .team-project__item-name Безопасность
                        .team-project__item-title.
                            Обеспечение высокого уровня безопасности
                .team-project__item
                    .team-project__images
                        img(src= p_img + 'ico-team-solutions2-project6.png')
                    .team-project__content
                        .team-project__item-name Сочетание цена/качество
                        .team-project__item-title Благодаря объединению Ваших знаний рынка и нашего опыта в области разработки
    section.section.section--bg-gray.other-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading.heading--small-mobile!= 'другие компетенции <span> novacom </span>'
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);")
                            .solut-services__name заказная разработка <br> информационных <br> систем
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);")
                            .solut-services__name электронное взаимодействие
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);")
                            .solut-services__name прикладное программирование
                            .btn.btn--white-red  подробнее
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading задайте вопрос прямо сейчас
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

