extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution1.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading!=  'Заказная разработка <br> информационных систем '
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Цифровая трансформация сегодня пронизывает все отрасли экономики -  от производства до сферы услуг. С помощью современных информационных технологий мы помогаем открывать возможности и выходить на новый уровень развития.'
block main
    .solution-preview
        .box
            .solution-preview__inner
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution-head1.png')
                    .solution-preview__name создаем точки роста
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution-head2.png')
                    .solution-preview__name упрощаем сложные  процессы
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution-head3.png')
                    .solution-preview__name внедряем инновационные технологии
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution-head4.png')
                    .solution-preview__name делаем комплексные проекты
    .solution-circe
        .box
            .info-companu
                .info-companu__inner
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution1-circle1.png")
                        .info-companu__header Полный цикл разработки  и сопровождения
                    .info-companu__item
                        .info-companu__images-inner
                            .info-companu__first-circle
                                .info-companu__second-circle
                                    img(src=p_img + "ico-solution1-circle2.png")
                        .info-companu__header 10+ реализованных проектов отраслевого уровня
    section.section.section--bg-gray.solut-services(style="background-image: url(../assets/index/images/shadow__heading-services.png);")
        .box
            .heading услуги
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services1.jpg);")
                            .solut-services__name Высоконагруженные информационные системы
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services2.jpg);")
                            .solut-services__name Портальные и мобильные решения
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services3.jpg);")
                            .solut-services__name Реестр и единые базы данных
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services4.jpg);")
                            .solut-services__name Межведомственное взаимодействие
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services5.jpg);")
                            .solut-services__name Электронное правительство
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-services6.jpg);")
                            .solut-services__name Интеграционные и кроссплатформенные решения
                            .btn.btn--white-red  подробнее
    section.section.interaction(style="background-image: url(../assets/index/images/shadow__heading-interaction.png);")
        .box
            .heading.heading--small-mobile взаимодействие
            .interaction__inner
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                    img(src= p_img + "ico-interaction1.png")
                    .interaction__name G2G
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-interaction2.png")
                    .interaction__name G2G
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-interaction3.png")
                    .interaction__name G2G
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-interaction4.png")
                    .interaction__name G2G
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-interaction5.png")
                    .interaction__name G2G
                .interaction__item
                    .interaction__images
                        .info-companu__first-circle
                            .info-companu__second-circle
                                img(src= p_img + "ico-interaction6.png")
                    .interaction__name G2G
    section.section.section--bg-gray.solut-technologi(style="background-image: url(../assets/index/images/shadow__heading-technological.png);")
        .box
            .heading технологии
            .solut-technologi__inner
                .solut-technologi__item
                    img(src=p_img + "ico-project-sql.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-MYsql.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-apache.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-cassandra.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-ibm.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-oracle.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-java.png")
                .solut-technologi__item
                    img(src=p_img + "ico-project-open-source.png")
    section.section.solut-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading отрасли
            .solut-industry__title!= 'Создание комплексных систем непременно сочетает экспертизу в области современных информационных технологий  и конкретной предметной среде. В данном случае разработчики непрерывно работают с внутренними либо привлекаемыми отраслевыми экспертами для создания кастомизированного решения. Реализованные проекты позволили нам накопить опыт и знания в следующих сферах:'
            .solut-industry__inner
                .grid
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution-industry1.jpg);")
                            .solut-industry__header Разработка решений для органов государственного управления
                            .solut-industry__content.
                                Оптимизация использования энергии,
                                создание безопасных городов
                                и умных домов, в котором
                                существующие ресурсы
                                используются наилучшим образом
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution-industry2.jpg);")
                            .solut-industry__header бизнес и промышленность
                            .solut-industry__content.
                                Оптимизация использования энергии,
                                создание безопасных городов
                                и умных домов, в котором
                                существующие ресурсы
                                используются наилучшим образом
                    .grid__cell
                        a(href="#").solut-industry__item.bg-layer.bg-cover(style="background-image: url(../assets/index/images/solution-industry3.jpg);")
                            .solut-industry__header услуги
                            .solut-industry__content.
                                Оптимизация использования энергии,
                                создание безопасных городов
                                и умных домов, в котором
                                существующие ресурсы
                                используются наилучшим образом
    section.section.section--bg-gray.how-we-work(style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);")
        .box
            .heading как мы работаем
            .how-we-work__inner
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work1.png")
                        .how-we-work__count 1
                    .how-we-work__data
                        .how-we-work__header Установление контакта
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work2.png")
                        .how-we-work__count 2
                    .how-we-work__data
                        .how-we-work__header Определение задачи
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work3.png")
                        .how-we-work__count 3
                    .how-we-work__data
                        .how-we-work__header!=  'Сбор информации <br> о текущих процессах'
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work4.png")
                        .how-we-work__count 4
                    .how-we-work__data
                        .how-we-work__header.
                            Техническое и гарантийное
                            обслуживание
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work5.png")
                        .how-we-work__count 5
                    .how-we-work__data
                        .how-we-work__header.
                            Заключение контракта и
                            формирование технического задания
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work6.png")
                        .how-we-work__count 6
                    .how-we-work__data
                        .how-we-work__header.
                            Технический анализ
                            и коммерческое предложение


    section.section.g-otzivi.section--bg-red(style="background-image: url(../assets/index/images/shadow__heading-reviews.png);")
        .box
            .heading отзывы клиентов
            .g-otzivi__slider
                .slider-otziv
                    .owl-carousel.slider-otziv__inner
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь
                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект
                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
                        .slider-otziv__item
                            .slider-otziv__data
                                .slider-otziv__images
                                    img(src=p_img + "otzivi-ico-rb.png")
                                .slider-otziv__header Александр Лавринович
                                .slider-otziv__tittle заместитель директора Министерства по налогам и сборам Республики Беларусь

                                .slider-otziv__btn
                                    a(href="#").btn.btn--black.slider-otziv__btn Посмотреть проект

                            .slider-otziv__content.
                                Благодаря интернет-ресурсу
                                Министерство по налогам и сборам
                                может вести единый перечень
                                физических лиц, ограниченных
                                в посещении игорных заведений,
                                а также обеспечивать доступ к нему
                                организаторам азартных игр,
                                контролирующим и правоохранительным
                                органам
    section.section.section--bg-gray.other-industry(style="background-image: url(../assets/index/images/shadow__heading-industry.png);")
        .box
            .heading.heading--small-mobile!= 'другие компетенции <span> novacom </span>'
            .solut-services__inner
                .grid
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence1.jpg);")
                            .solut-services__name промышленный интернет вещей
                            .btn.btn--white-red подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence2.jpg);")
                            .solut-services__name электронное взаимодействие
                            .btn.btn--white-red  подробнее
                    .grid__cell
                        a(href="#").solut-services__item.bg-cover.bg-layer(style="background-image: url(../assets/index/images/solution-bg-competence3.jpg);")
                            .solut-services__name прикладное программирование
                            .btn.btn--white-red  подробнее
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading задайте вопрос прямо сейчас
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

