extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Решения Navacom'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-solution11.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading.heading--sloution1-1!=  'Высоконагруженные <br>  информационные системы '
            .prewiews__content.prewiews__content--small-solutions
                span!= 'Создаем масштабируемые и отказоустойчивые системы для отраслей и предприятий.'
block main
    .solution-preview
        .box
            .solution-preview__inner.solution-preview__inner--3cell
                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution11-head1.png')
                    .solution-preview__name Большое количество одновременных обращений

                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution11-head2.png')
                    .solution-preview__name Обработка и хранение больших объемов информации


                .solution-preview__item
                    .solution-preview__images
                        img(src= p_img + 'ico-solution11-head3.png')
                    .solution-preview__name Организация взаимодействия между  различными информационными системами

    section.section(style="background-image: url(../assets/index/images/shadow__heading-discription.png);")
        .box
            .heading описание
            .section__content.
                Разработка информационных систем на заказ используется для решения уникальных задач, требующих создания совершенно новых решений с нуля. Специалисты компании владеют не только последними технологиями и языками программирования, но имеют экспертизу и опыт в отдельных индустриях – органах государственного управления, разветвленных холдинговых структурах, производственных предприятиях.

    section.section.section--solution-block.section--bg-gray
        .box
            .solution__header Подходы к реализации
            ul.solution__list
                li.solution__item Использование Open Source технологий и платформ мировых производителей
                li.solution__item Использование электронной цифровой подписи
                li.solution__item Аттестация информационных систем
                li.solution__item Мгновенная обработка миллионных трансакций
                li.solution__item  Обеспечение безопасности передачи и хранения информации
    section.section.participation-assoc
        .box
            .solution__header Используем платформы
            .participation-assoc__inner.participation-assoc__inner--4cell
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span операционные системы:
                        span Linux, Windows
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span Языки программирования:
                        span PHP, .NET, Java, JavaScript, Python, Ruby
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span Базы данных:
                        span Oracle, MS SQL, MySQL, PostgreSQL, Firebird
                .participation-assoc__item
                    .participation-assoc__inner-item
                        span интеграция:
                        span 1С, MS CRM, SAP и иными системами
    .small-news-slider.owl-carousel
        a(href="#").small-news
            .box
                .small-news__header 8 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 10 сентября состоится конференция “Открытые дни DIRECTUM”
        a(href="#").small-news
            .box
                .small-news__header 12 сентября состоится конференция “Открытые дни DIRECTUM”
    section.section.view-our-project.section--bg-gray(style="background-image: url(../assets/index/images/shadow__heading-view-our-project.png);")
        .box
            .heading.heading--small-mobile Ознакомьтесь с нашими проектами
            .view-our-project__inner
                .view-our-projects__slider.owl-carousel
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project1.jpg")
                        .view-our-project__data
                            .view-our-project__header eVAT
                            .view-our-project__content.
                                инструмент налогового администрирования, обеспечивающий
                                автоматизацию процесса контроля за необоснованным использованием
                                налоговых вычетов по НДС и правильным отражением налоговой
                                базы НДС в декларациях по НДС
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью
                    .view-our-project__item
                        .view-our-project__images
                            img(src=p_img + "our-project2.jpg")
                        .view-our-project__data
                            .view-our-project__header Архив ФСЗН
                            .view-our-project__content.
                                Автоматизированная система управления электронным архивом,
                                с помощью которой можно вести учёт поступления документов,
                                долговременно хранить их, а также осуществлять поиск в электронном
                            .btn-inner
                                a(href='#').btn.btn--small.btn--black-red читать полностью



    section.section.g-klients(style="background-image: url(../assets/index/images/shadow__heading-clients.png);")
        .box
            .heading наши клиенты
            .g-klients__slider
                .slid-clients.slid-clients--solution
                    .slid-clients__inner.owl-carousel
                        .slid-clients__item
                            img(src=p_img + "ico-clients1.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients2.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients3.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients4.png")
                        .slid-clients__item
                            img(src=p_img + "ico-clients5.png")
    section.section.part-of-team.part-of-team--p-work.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-team-project.jpg)")
        .section__inner
            .box
                .heading Подходы к разработке
                .part-of-team__tittle
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Полный цикл разработки от проектирования архитектуры до сопровождения и развития системы
                    li.part-of-team__item
                        .part-of-team__header.
                            Выделенные проектные команды,
                            объединяющие техническую и отраслевую
                            экспертизу
                    li.part-of-team__item
                        .part-of-team__header.
                            Использование Learn и Agile подходов
                            в работах проектных команд
                    li.part-of-team__item
                        .part-of-team__header.
                            Соблюдение сроков и договорных
                            условий

    section.section.section--bg-gray.how-we-work(style="background-image: url(../assets/index/images/shadow__heading-how-to-work.png);")
        .box
            .heading как мы работаем
            .how-we-work__inner
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items1.png")
                        .how-we-work__count 1
                    .how-we-work__data
                        .how-we-work__header Установление контакта
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items2.png")
                        .how-we-work__count 2
                    .how-we-work__data
                        .how-we-work__header Определение задачи
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items3.png")
                        .how-we-work__count 3
                    .how-we-work__data
                        .how-we-work__header!=  'Сбор информации <br> о текущих процессах'
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items6.png")
                        .how-we-work__count 6
                    .how-we-work__data
                        .how-we-work__header.
                            Техническое и гарантийное
                            обслуживание
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items5.png")
                        .how-we-work__count 5
                    .how-we-work__data
                        .how-we-work__header.
                            Заключение контракта и
                            формирование технического задания
                .how-we-work__item
                    .how-we-work__images
                        img(src=p_img + "ico-how-work-solution11-items4.png")
                        .how-we-work__count 4
                    .how-we-work__data
                        .how-we-work__header.
                            Технический анализ
                            и коммерческое предложение


    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading.heading--small-mobile запросить дополнительную <br> информацию
            .g-help__inner
                form.help-form
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Ваше имя').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='Ваш телефон').help-form__input
                            .help-form__helper Введите корректный телефон
                    .help-form__row
                        .help-form__group
                            input(type="text", placeholder='Наименование компании').help-form__input
                            .help-form__helper
                        .help-form__group
                            input(type="text", placeholder='E-mail').help-form__input
                            .help-form__helper
                    .help-form__row
                        .help-form__group.help-form__group--textarea
                            textarea(placeholder='Ваше сообщение').help-form__textarea
                            .help-form__helper
            .btn-inner
                a(href="#").btn.help-form__btn Отправить

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

