extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Вакансии'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews.bg-layer.bg-cover(style="background-image: url(../assets/index/images/bg-p-vacancy.jpg);")
        .breadcrumb
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Отправить резюме
        .prewiews__inner
            h1.heading Вакансии
            .prewiews__content!= 'Мы любим то, что мы делаем!<br> Мы не просто коллеги, мы единомышленники!<br> Мы ценим каждого и всегда рады новым членам команды!<br> <strong>Присоединяйся к нам!<strong>'
block main
    .form-search
        .box
            form.form-search__inner.form-search__inner--padding
                .form-search__item
                    .def-form__group
                        select.def-form__select
                            option(value="" hidden disabled selected) Направление деятельности
                            option(value='Беларусь') Направление деятельности1
                            option(value='Беларусь') Направление деятельности2
                            option(value='Беларусь') Направление деятельности3
                            option(value='Беларусь') Направление деятельности4
                            option(value='Беларусь') Направление деятельности5
                .form-search__item
                    .def-form__group
                        input(type="text", placeholder='Ключевое слово').def-form__input
                .form-search__item
                    .def-form__group
                        button(type="submit", value='').btn Найти
            .form-search__result
                .form-search__result-item
                    span.form-search__result-close x
                    span CROSS DEVICE DEPARTMENT
            .result-search
                .result-search__heading В списке найдено 11 подходящих вакансий
                .hot-vacancy.hot-vacancy--white
                    .hot-vacancy__item.hot-vacancy__item--hot-status
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Senior Project Manager
                        .hot-vacancy__value Embedded Systems Department
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item.hot-vacancy__item--hot-status
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Senior Project Manager
                        .hot-vacancy__value Embedded Systems Department
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item.hot-vacancy__item--hot-status
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
        .box
            .heading не нашли подходящую вакансию?
            .g-help__small-heading Присылайте нам свою резюме, и мы свяжемся с Вами, когда появится что-то подходящее.
            .btn-inner
                a(href="#").btn.btn--white.help-form__btn Отправить резюме

block scripts
    //script(src="../assets/index/js/jquery.spincrement.js")

