extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Главная'
    - var p_img = '../assets/index/images/'


block previews
    .prewiews
        .breadcrumb.breadcrumb--bg-gray
            .box
                ul.breadcrumb__list
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item
                        a(href="#").breadcrumb__link Карьера
                    li.breadcrumb__item
                        .breadcrumb__link Работа

block main
    section.section.b-work(style="background-image: url(../assets/index/images/shadow__heading-work.png);")
        .box
            .heading Работа в novacom
            .b-work__title.
                Мы проектируем и создаем информационные системы для эффективной деятельности наших
                заказчиков в соответствии с современными трендами и технологиями. Среди специалистов компании
                программисты, инженеры и бизнес-аналитики, владеющие востребованными языками
                программирования, опытом работы с распределёнными базами данных, мобильными платформами,
                IoT и иными технологиями. C помощью современных IT-решений мы помогает трансформироваться
                государству, промышленности, ритейлу, банкам и иным индустриям.

    section.section.part-of-team.part-of-team--p-work.bg-layer.bg-cover(style="background-image: url(../assets/index/images/offer-list.png)")
        .section__inner
            .box
                .heading!= 'Мы предлагаем сотрудникам'
                .part-of-team__tittle.
                    Мы рады приветствовать каждого приходящего сотрудника приятной комфортной <br>
                    для работы обстановкой и дружелюбной атмосферой.
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Работу над значимыми проектами отраслевого масштаба
                    li.part-of-team__item
                        .part-of-team__header Стать частью глобальной группы компаний
                    li.part-of-team__item
                        .part-of-team__header Современное рабочее место в офисе класса
                    li.part-of-team__item
                        .part-of-team__header Достойную оплату и социальный пакет
                    li.part-of-team__item
                        .part-of-team__header Участие в корпоративных и спортивных мероприятиях
                    li.part-of-team__item
                        .part-of-team__header Участие в корпоративных и спортивных мероприятиях
                    li.part-of-team__item
                        .part-of-team__header Профессиональное обучение
                    li.part-of-team__item
                        .part-of-team__header Курсы иностранного языка непосредственно в офисе компании

    section.section.hot-vacancy.section--bg-red
            .box
                .heading Гоящие вакансии
                .hot-vacancy
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Senior Project Manager
                        .hot-vacancy__value Embedded Systems Department
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии
                    .hot-vacancy__item
                        .hot-vacancy__name Инженер-проектировщик
                        .hot-vacancy__value SPA
                        .hot-vacancy__btn-inner
                            a(href="#").hot-vacancy__btn подробнее о вакансии

    section.section.b-status(style="background-image: url(../assets/index/images/shadow__heading-reward.png);")
            .box
                .heading статусы и награды
                .b-status__inner.owl-carousel
                    .b-status__item
                        .b-status__images
                            img(src="../assets/index/images/status_item1.jpg", alt="status")
                        .b-status__info-inner
                            .b-status__text Победитель премии «HR-брэнд» 2016
                    .b-status__item
                        .b-status__images
                            img(src="../assets/index/images/status_item2.jpg", alt="status")
                        .b-status__info-inner
                            .b-status__text.
                                Входим в рейтинг
                                ТОП 30 резидентов
                                ПВТ с наибольшим
                                количеством
                                сотрудников (2015)
    section.section.section--bg-gray.otziv-personal(style="background-image: url(../assets/index/images/shadow__heading-opinios.png);")
        .box
            .heading отзывы сотрудников
            .otziv-personal__inner.owl-carousel
                .otziv-personal__item
                    .otziv-personal__images
                        img(src="../assets/index/images/otziv_personal1.jpg", alt="avatar")
                    .otziv-personal__data
                        .otziv-personal__text.
                            Я считаю, что здесь работают
                            одни из самых талантливых
                            людей в IT индустрии, вместе
                            с которыми я могу продолжать
                            развиваться постоянно, не
                            упираясь в «стеклянный» потолок
                        .otziv-personal__name Оля, HR manager
                .otziv-personal__item
                    .otziv-personal__images
                        img(src="../assets/index/images/otziv_personal2.jpg", alt="avatar")
                    .otziv-personal__data
                        .otziv-personal__text.
                            Одна из лучших компаний в РБ,
                            знаю что говорю т.к. было с чем
                            сравнивать. Условия труда
                            отличные, солидное руководство,
                            что только радует. Самое главное –
                            адекватные сроки решения
                            поставленных задач, т.е. уходя
                            с работы не ощущаешь себя как
                            выжатый лимон. Рекомендую!
                        .otziv-personal__name Егор, Sales manager
    //section.section.section--bg-gray.otziv-personal(style="background-image: url(../assets/index/images/shadow__heading-opinios.png);")
    //    .box
    //        .heading отзывы сотрудников
    //        .otziv-personal__inner
    //            .grid
    //                .grid__cell
    //                    .otziv-personal__item
    //                        .otziv-personal__images
    //                            img(src="../assets/index/images/otziv_personal1.jpg", alt="avatar")
    //                        .otziv-personal__data
    //                            .otziv-personal__text.
    //                                Я считаю, что здесь работают
    //                                одни из самых талантливых
    //                                людей в IT индустрии, вместе
    //                                с которыми я могу продолжать
    //                                развиваться постоянно, не
    //                                упираясь в «стеклянный» потолок
    //                            .otziv-personal__name Оля, HR manager
    //                .grid__cell
    //                    .otziv-personal__item
    //                        .otziv-personal__images
    //                            img(src="../assets/index/images/otziv_personal2.jpg", alt="avatar")
    //                        .otziv-personal__data
    //                            .otziv-personal__text.
    //                                Одна из лучших компаний в РБ,
    //                                знаю что говорю т.к. было с чем
    //                                сравнивать. Условия труда
    //                                отличные, солидное руководство,
    //                                что только радует. Самое главное –
    //                                адекватные сроки решения
    //                                поставленных задач, т.е. уходя
    //                                с работы не ощущаешь себя как
    //                                выжатый лимон. Рекомендую!
    //                            .otziv-personal__name Егор, Sales manager
    //

    section.section.part-of-team.bg-layer.bg-cover(style="background-image: url(../assets/index/images/part-of-team.png)")
        .section__inner
            .box
                .heading!= 'Почему <span> Novacom </span>'
                ul.part-of-team__list
                    li.part-of-team__item
                        .part-of-team__header Ценность профессионализма
                        .part-of-team__small-header Мы ценим своих сотрудников и открыты к диалогу 365 дней в году
                    li.part-of-team__item
                        .part-of-team__header Современные технологии
                        .part-of-team__small-header Создаём актуальные и востребованные рынком продуктом
                    li.part-of-team__item
                        .part-of-team__header Гибкий рабочий график
                        .part-of-team__small-header Мы предоставляем сотрудникам возможность самим определять начало рабочего дня
                    li.part-of-team__item
                        .part-of-team__header Корпоративная культура
                        .part-of-team__small-header Мы команда единомышленников и любим проводить время вместе
                    li.part-of-team__item
                        .part-of-team__header Образование
                        .part-of-team__small-header Мы не стоим на месте, а постоянно учимся и развиваемся
                    li.part-of-team__item
                        .part-of-team__header Социальные гарантии
                        .part-of-team__small-header У нас есть 25 дней для организации незабываемых путешествий оплачиваемый больничный и организация витаминных акций
    section.section.section--bg-red.g-help(style="background-image: url(../assets/index/images/shadow__heading-help.png);")
            .box
                .heading чем мы можем вам помочь?
                .g-help__inner
                    form.help-form
                        .help-form__row
                            .help-form__group
                                input(type="text", placeholder='Ваше имя').help-form__input
                                .help-form__helper
                            .help-form__group
                                input(type="text", placeholder='Ваш телефон').help-form__input
                                .help-form__helper Введите корректный телефон
                        .help-form__row
                            .help-form__group
                                input(type="text", placeholder='Наименование компании').help-form__input
                                .help-form__helper
                            .help-form__group
                                input(type="text", placeholder='E-mail').help-form__input
                                .help-form__helper
                        .help-form__row
                            .help-form__group.help-form__group--textarea
                                textarea(placeholder='Ваше сообщение').help-form__textarea
                                .help-form__helper
                .btn-inner
                    a(href="#").btn.help-form__btn Отправить

block scripts

