body, html {
  height: 100%;
  min-height: 100%;
}

body {
  //font-family: @mainFonts;
  font-family: 'PT Sans', sans-serif;
  color: #2b2a29;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  line-height: 1.34;
}

.section {
  padding: 90px 0 55px 0;
  //padding: 125px 0 90px 0;
  background-repeat: no-repeat;
  background-position: center 100px;

  @media screen and (max-width: 767px) {
    padding: 60px 0 40px 0;
  }

  &__content{
    font-size: 18px;
    line-height: 30px;
    color: #2b2a29;
    max-width: 1030px;
    margin: 0 auto;

    text-align: justify;

  }

  &.g-about {
    background-position: left 100px;
  }

  &.part-of-team {

    background-position: 50% 50%;

    .heading {
      color: #fff;

      span {
        color: @red;
      }
    }
  }

  &--solution-block{
    padding: 80px 0 80px 0;
  }

  &--similar-vacancy {
    padding: 85px 0 125px 0;

    .heading {
      color: #2b2a29;
      font-size: 45px;
      text-transform: inherit;
      padding-bottom: 55px;

      &:before {
        content: none;
      }
    }

    @media screen and (max-width: 767px) {
      padding-bottom: 20px;
    }
  }

  &--bg-red {
    background-color: @red;

    .solution__header{
      color: #fff;
    }

    .heading {
      color: #fff;

      &:before {
        background: #fff;
      }
    }
  }

  &--bg-gray {
    background-color: @gray;
  }

  &--bg-dark-gray {
    background-color: @dark-gray;
  }

  &--content{
    padding: 35px 0;
  }
}


.bg-cover {
  background-size: cover;
  background-position: 50% 50%;
}


.box {
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (max-width: 940px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 560px) {
    padding: 0 20px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  &__cell {
    padding: 0 10px;
    width: 50%;
  }
}

.bg-layer {
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(43, 42, 41, 0.55);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.ico {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 56px;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

.content {

  ul{
    padding: 0 0 20px 0;

    li{
        padding-left: 30px;
        padding-bottom: 10px;
        position: relative;
        font-size: 18px;
        line-height: 30px;
        color: #2b2a29;

        &:before {
          content: '';
          position: absolute;
          top: 10px;
          left: 0;
          background: url("../images/check-index-list-style.png");
          width: 13px;
          height: 11px;
        }

    }
  }

  h1{
    font-size: 45px;
    color: #2b2a29;
    text-transform: uppercase;
    padding: 10px 0;
  }

  h2{
    font-size: 28px;
    color: #2b2a29;
    text-transform: uppercase;
    padding: 10px 0;
  }

  h3{
    font-size: 24px;
    color: #2b2a29;
    padding: 10px 0;
  }

  h4{
    font-size: 22px;
    color: #2b2a29;
    padding: 10px 0;
  }

  h5{
    font-size: 20px;
    color: #2b2a29;
    padding: 10px 0;
  }

  h6{
    font-size: 18px;
    color: #2b2a29;
    padding: 10px 0;
  }

  hr {
    height: 1px;
    width: 100%;
    margin-bottom: 45px;
    border: 0;
    background: #e4e1e1;
  }

  p {
    color: #2b2a29;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 12px;
  }

  blockquote {
    padding-left: 100px;
    position: relative;
    color: #8e8c8c;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;

    span {
      &:last-child {
        display: block;
        position: relative;
        font-size: 16px;
        color: #2b2a29;

        &:before {
          content: '';
          display: inline-block;
          width: 4px;
          height: 1px;
          background: #2b2a29;
          margin-right: 10px;
          vertical-align: middle;
          margin-bottom: 2px;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: url("../images/blockquote.png");
      width: 57px;
      height: 46px;
    }

    @media screen and (max-width: 767px) {
      padding: 61px 0 25px 10px;
    }
  }

  &--padding-right {
    padding-right: 50px;

    @media screen and (max-width: 992px) {
      padding-right: 0;
    }
  }

  &--project{
    p {
      color: #2b2a29;
      font-size: 18px;
      line-height: 30px;
      padding-bottom: 30px;
    }
  }

  &--demands-list{
    color: #fff;
    .grid__cell{
      @media screen and (max-width: 900px) {
        width: 100%;
      }
    }

    h1,
    h2,
    h3,h4,h5,h6{
      color: #fff;
    }

    p{
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      padding-bottom: 20px;
      display: inline-block;
      color: #fff;
    }

    ul{
      padding-bottom: 20px;
      color: #fff;

      li{
        padding-left: 35px;
        padding-bottom: 10px;
        position: relative;
        font-size: 18px;
        line-height: 30px;
        padding-right: 40px;
        font-weight: 400;
        color: #fff;

        &:before {
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
          background: url("../images/check-index-list-style-white.png");
          width: 10px;
          height: 8px;
        }

        @media screen and (max-width: 767px) {
          padding-right: 0;
        }
      }
    }


  }
}

