@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {

  }

  .wrapper{
    display: block;
  }

  .dropdown-menu{
    z-index: 2;
  }

  .help-form__textarea {
    overflow: auto;
  }

  select::-ms-expand {
    display: none;
  }

  .solution-preview {

    &__item {
      display: block;
      text-align: center;
    }

    &__images {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .solut-services {

    &__item {
      display: block;
      text-align: center;
    }
  }

  .solut-industry {

    &__item {
      display: block;
      text-align: center;
    }
  }

  .how-we-work {

    &__item {
      display: block;
      text-align: center;
    }

    &__images {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .team-project {

    &__item {
      display: block;
      text-align: center;
    }

    &__images {
      margin-left: auto;
      margin-right: auto;
    }

    &--solution2 {

      .team-project__item {

        display: flex;
        text-align: left;
      }
    }
  }

  .slid-clients {

    &__item {

      img {
        width: auto !important;
      }
    }
  }

  .red-reward {

    &__item {
      display: block;
      text-align: center;
    }

    &__images {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .abaut-clients {

    &__content {
      //display: block;
      flex-direction: row;
      flex-wrap: wrap;
      top: 0;
      left: 0;
      span {
        width: 100%;
      }
    }

    &__item {
      overflow: hidden;

      &:hover {

        .abaut-clients__content {

        }
      }
    }
  }

  .footer {
    &__inner {
      height: 0px;
    }
  }

  .small-news{
    height: 0;
  }
}
