.header {
  position: relative;

  &__inner {
    display: flex;
    background: #fff;
  }

  &__data {
    margin-left: auto;
    display: flex;
    align-items: center;

    @media screen and (max-width: 950px) {
      display: none;
    }
  }
}

.dropdown-menu {
  position: absolute;
  left: -30px;
  top: 55px;
  background: #8f0a2f;
  min-width: 320px;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height .4s;
  padding: 30px 30px;

  &__item {
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    opacity: 0;
    transition: .1s;
    transition-delay: 0s;

    &:hover,
    &--active {
      color: #d66c80;

    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 55px;
    top: 0;
    border: 9px solid transparent;
    border-top: 9px solid @red;
    width: 0;
    height: 0;
    display: block;
  }
}

.nav-menu {
  position: sticky;
  background: @red;
  top: 0;
  z-index: 20;
  font-weight: 700;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 845px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    margin-right: 90px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:hover {

      @media (min-width: 851px) {
        .dropdown-menu {
          max-height: 500px;
          padding: 30px 30px;
          overflow: visible;
          visibility: visible;

        }

        .dropdown-menu__link {
          opacity: 1;
          transition: .3s;
          transition-delay: .2s;
        }
      }
    }
  }

  &__link {
    min-height: 55px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    text-decoration: none;
    height: 0;

    &:hover,
    &--active {
      //border-bottom: 2px solid #fff;
      color: #d66c80;
    }
  }

  @media screen and (max-width: 845px) {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: 1s;


    .dropdown-menu {
      position: static;
      min-width: 320px;
      max-height: 0;
      transition: 0.6s;
      background: #2b2a29;
      margin: 0 -45px;
      padding: 0 45px;

      &:before {
        content: none;
      }
    }

    .dropdown-menu__link {
      opacity: 1;
    }

    &--active {
      top: 0;
      transition: .8s;
      box-shadow: 0 0 50px -3px rgba(0, 0, 0, 0.4);

      .box {
        padding: 0;
      }

      .nav-menu__item {
        position: relative;
        padding: 15px 45px 0 45px;
        border-bottom: 1px solid #edeeee;
        width: 100%;
        margin: 0;
      }

      .nav-menu__drop-arrow {
        width: 35px;
        height: 35px;
        border-left: 0;
        border-top: 0;
        right: 30px;
        top: 9px;
        transition: .3s;
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
          content: '';
          width: 8px;
          height: 8px;
          border: 1px solid #2b2a29;
          border-left: 0;
          border-top: 0;
          transform: rotate(-45deg);
          transition: .3s;
        }

        &--active {
          border-color: #8e8c8c;
          transform: rotate(90deg);

          & ~ .dropdown-menu {
            padding: 25px 45px;
            max-height: 500px;
            overflow: visible;
            visibility: visible;
          }
        }
      }

      .nav-menu__link {
        color: #2b2a29;
        min-height: auto;
        display: inline-flex;
        padding-bottom: 15px;

        &--active {
          color: #8e8c8c;
        }
      }

      .nav-menu__list {
        margin-top: 60px;
        background: #fff;
      }

    }
  }
}

.mob-clos-menu {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    .mob-clos-menu__item2,
    .mob-clos-menu__item1 {
      background: #c8c8c8;
    }
  }

  &__item1 {
    width: 60%;
    height: 2px;
    position: absolute;
    background: #fff;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transform-origin: 0 0;
  }

  &__item2 {
    width: 60%;
    height: 2px;
    position: absolute;
    background: #fff;
    transform: rotate(-45deg) translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transform-origin: 0 0;
  }

  @media (min-width: 846px) {
    display: none;
  }

  @media screen and (max-width: 560px) {
    right: 10px;
  }
}

.footer {
  background-color: @brown;
  color: #aaa9a9;

  &__social {

    display: flex;
  }

  &__inner {
    display: flex;
    min-height: 80px;
    color: #aaa9a9;
    font-size: 15px;
    height: auto;

    @media screen and (max-width: 850px) {
      padding: 35px 0;
      flex-direction: column;
      overflow: hidden;
      height: 100% !important;
      //flex-wrap: wrap;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0 26px;
    border-left: 1px solid #444343;
    transition: .3s;
    cursor: pointer;

    &:hover {
      opacity: 0.3;
    }

    &:last-child {
      border-right: 1px solid #444343;

      @media screen and (max-width: 850px) {
        border: none;
      }
    }

    @media screen and (max-width: 850px) {
      margin: 20px 0;
      padding-left: 0;
      border: none;
    }

    //@media screen and (max-width: 600px) {
    //  margin: 10px -25px;
    //  border: none;
    //}
  }

  &__title {
    margin-right: 20px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 850px) {
      display: block;

    }

    @media screen and (max-width: 600px) {
      padding-bottom: 10px;
    }

  }

  &__data {
    margin-left: auto;
    display: flex;

    @media screen and (max-width: 850px) {
      flex-wrap: wrap;
      margin-left: 0;
      flex-direction: column;
    }

    @media screen and (max-width: 660px) {
      flex-direction: column;
    }
  }
}

.data-hedaer {

  &__item {
    color: #231f20;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0 25px;
    border-left: 1px solid #edeeee;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;

    &:last-child {
      border-right: 1px solid #edeeee;
    }
  }

  &__lang {
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    &:hover {
      color: @red;
    }

    &--active {
      color: @red;
    }
  }

}

.logo-inner {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: #231f20;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: 700;

  span {

    @media screen and (max-width: 1150px) {
      display: none;
    }
  }

}

.logo {
  display: block;
  margin-right: 17px;
}

.header-mail {
  transition: .3s;
  text-decoration: none;

  &:hover {
    color: @red;
  }
}

.header-tel {
  transition: .3s;
  text-decoration: none;

  &:hover {
    color: @red;
  }
}

.prewiews {

  .heading {
    @media screen and (max-width: 400px) {
      font-size: 30px;
    }
  }

  padding: 0 20px;

  .box {
    padding: 0;
  }

  &__date {
    color: #e9e9e9;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 55px;
  }

  &__content {
    width: 100%;
    max-width: 900px;
    font-size: 20px;
    line-height: 32px;
    text-align: justify;

    strong {
      font-weight: 700;
    }

    &--about {
      max-width: 1030px;
      font-size: 20px;
      line-height: 29px;
      margin: 0 auto;
      text-align: justify;
    }

    &--solutions {
      max-width: 1130px;
      margin: 0 auto;
    }

    &--small-solutions {
      max-width: 1130px;
      margin: 0 auto;
      font-size: 22px;
      line-height: 32px;
    }

    &--center {
      text-align: center;
    }

    @media screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__inner {
    padding: 50px 0 90px 0;
    background-repeat: no-repeat;
    background-position: center 100px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;

    .heading {
      color: #fff;
      padding-bottom: 35px;
    }

    &--history-slide{
      padding: 0;
      display: block;
      min-height: auto;
    }
  }

  &--content {

    .prewiews__content {
      max-width: 900px;
      font-size: 20px;
      line-height: 32px;
      text-align: justify;

    }

    .heading {
      font-size: 45px;
      line-height: 46px;
      text-transform: inherit;
      padding-bottom: 15px;

      @media screen and (max-width: 400px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
  }

  &--open-vacancy {

    .heading {
      padding-bottom: inherit;

      @media screen and (max-width: 400px) {
        padding-bottom: 25px;
      }
    }

    .prewiews__content {
      width: 100%;
      max-width: 1120px;
      font-size: 22px;
      line-height: 30px;

      span {
        display: block;

        &:first-child {
          font-weight: 700;
          font-size: 30px;
          line-height: 30px;
          padding-bottom: 10px;
        }
      }
    }
  }
}

.index-prewiews {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background: @red;

  &:hover {

  }

  &__inner {
    //opacity: 0;
    //margin-top: 50px;
    //transition: margin .9s, opacity .3s;
    opacity: 1;
    margin-top: 0;
    //transition: .4s;
    //@media screen and (max-width: 1000px) {
    //  opacity: 1;
    //  margin-top: 0;
    //}

    @media screen and (max-width: 560px) {
      width: 100%;
      text-align: center;
    }
  }

  &__item-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 10px 45px;
    display: flex;
    align-items: center;
    //transition: 1s;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item {
    width: 25%;
    display: flex;
    align-items: center;
    min-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s;
    position: relative;

    &--active {
      @media (min-width: 1001px) {
        width: 15% !important;
        //flex: 1;
        //transition: .4s;
        //background-position: 50% 50%;
        .index-prewiews__inner {
          opacity: 0;
        }
      }
    }

    &--hover {
      @media (min-width: 1001px) {
        width: 55% !important;
        //flex: 3 !important;

        .index-prewiews__inner {
          opacity: 1 !important;
        }

      }
    }

    &:hover {

    }

    @media screen and (max-width: 1000px) {
      width: 50%;
      min-height: 290px;
    }

    @media screen and (max-width: 560px) {
      width: 100%;
      min-height: 270px;
    }
  }

  &__header {
    color: #fff;
    //font-size: 38px;
    //line-height: 44px;
    font-weight: 700;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.7vw;

    @media screen and (max-width: 1000px) {
      font-size: 3.3vw;
    }

    @media screen and (max-width: 560px) {
      font-size: 28px;
    }
  }

  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
  }
}

.btn {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  min-height: 46px;
  height: 0;
  border: 2px solid @red;
  background: @red;
  text-transform: uppercase;
  padding: 0 40px;
  justify-content: center;
  text-decoration: none;
  transition: .3s;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  font-family: 'PT Sans', sans-serif;

  &:hover {
    background: transparent;
    color: @red;
  }

  &--loading {
    position: relative;
    color: transparent !important;
    cursor: default;
    background: @red !important;
    border: 1px solid #fff !important;
    pointer-events: none;

    &:before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      top: 50%;
      left: 50%;
      height: 22px;
      width: 22px;
      margin-top: -11px;
      margin-left: -11px;
      border: 3px solid hsla(0, 0%, 100%, .5);
      border-right-color: #fff;
      border-radius: 50%;
      animation: rotate 1.1s infinite linear;
      transition: background-color 1s linear;
    }

    &:after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      color: #fff;
      opacity: 1;
      transition: opacity 1s linear;
    }
  }

  &--black {
    background: transparent;
    border-color: #2b2a29;
    color: #2b2a29;

    &:hover {
      color: #fff;
      background: #2b2a29;
    }
  }

  &--black-red {
    background: transparent;
    border-color: #2b2a29;
    color: #2b2a29;

    &:hover {
      color: #fff;
      background: @red;
      border-color: @red;
    }
  }

  &--white {
    padding: 0 20px;
    background: transparent;
    border-color: #fff;

    &:hover {
      color: #231f20;
      background: #fff;
    }
  }

  &--white-red {
    padding: 0 20px;
    background: transparent;
    border-color: #fff;

    &:hover {
      color: #fff;
      background: @red;
      border-color: @red;
    }
  }

  &--color-white {

    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }

  &--green {
    background: #8ead0c;
    color: #fff;
    border-color: #8ead0c;

    &:hover {
      color: #8ead0c;
      background: #fff;
    }
  }

  &--small {
    min-height: 35px;
    padding: 4px 10px;
    font-size: 13px;
  }
}

.heading {
  font-size: 45px;
  line-height: 1;
  color: #2b2a29;
  padding-bottom: 65px;
  position: relative;
  text-transform: uppercase;
  //font-weight: 700;
  letter-spacing: 2px;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 100%;
    max-width: 50px;
    height: 1px;
    background: @red;
    top: -50px;
  }

  @media screen and (max-width: 400px) {
    font-size: 30px;
  }

  &--g-companu {
    padding-bottom: 30px;
    text-align: left;

    &:before {
      left: 0;
      margin-left: 0;
    }

    @media screen and (max-width: 950px) {
      font-size: 40px;
    }
  }

  &--sloution1-1 {
    @media screen and (max-width: 400px) {
      font-size: 26px !important;
    }

  }

  span {
    color: @red;
  }

  &--small-mobile {
    @media screen and (max-width: 550px) {
      font-size: 30px;
    }
  }


  &--history{
    z-index: 3;
    position: relative;
    padding: 0 20px;
    &:before{
      top: -25px;
    }
  }
}

.sect-title {
  color: #2b2a29;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 40px;

}

.sect-list {
  color: #2b2a29;
  padding: 0 30px 40px 30px;

  &__header {
    font-size: 28px;
    line-height: 30px;
    padding-bottom: 30px;
  }

  &__list {

  }

  &__item {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    padding-left: 45px;
    padding-bottom: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      background: url('../images/check-index-list-style.png');
      width: 13px;
      height: 11px;
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 0;
  }
}

.g-about {

  .grid {

    .grid__cell {
      &:first-child {
        width: ~'calc((100% / 12) * 5)';

        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }

      &:last-child {
        width: ~'calc((100% / 12) * 7)';

        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
}

.btn-inner {
  text-align: center;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.info-companu {
  text-align: center;

  &__first-circle {
    border: 0;
    position: relative;
    width: 114px;
    height: 114px;
    padding: 5px;

    &:before,
    &:after {
      border-radius: 100%;
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:after {
      border: 0 solid transparent;
    }

    &:before {
      border: 2px solid transparent;
    }

    &.show-circle {

      &:before {
        border-top-color: #f7e9ed;
        border-right-color: #f7e9ed;
        border-bottom-color: #f7e9ed;
        -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
        transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
      }

      &:after {
        border-top: 2px solid #f7e9ed;
        border-left-width: 2px;
        border-right-width: 2px;
        transform: rotate(270deg);
        transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
        transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
        transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
      }

      .info-companu__second-circle {
        &:before {
          border-top-color: #a30b35;
          border-right-color: #a30b35;
          border-bottom-color: #a30b35;
          -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
          transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
        }

        &:after {
          border-top: 2px solid #a30b35;
          border-left-width: 2px;
          border-right-width: 2px;
          transform: rotate(270deg);
          transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
          transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
          transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
        }
      }
    }
  }

  &__second-circle {
    border: 0;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before,
    &:after {
      border-radius: 100%;
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:after {
      border: 0 solid transparent;
    }

    &:before {
      border: 2px solid transparent;
    }

  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @media screen and (max-width: 660px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 0 40px 35px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    @media screen and (max-width: 900px) {
      padding: 0 10px 35px 10px;
    }

    @media screen and (max-width: 660px) {
      width: 50%;
    }

    @media screen and (max-width: 660px) {
      width: 100%;
    }
  }

  &__images-inner {
    padding-bottom: 15px;
  }

  &__header {
    font-size: 28px;
    color: #2b2a29;
    padding-bottom: 5px;
  }

  &__title {
    color: #8e8c8c;
    font-size: 18px;
    line-height: 30px;
  }
}

.small-news-slider{
  .owl-stage{
    display: flex;
  }
}

.small-news {
  background: @red;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  transition: .3s;
  min-height: 82px;
  height: 100%;
  text-decoration: none;
  padding: 20px 0;



  &:hover {
    background: rgb(195, 14, 64);
  }

  &__header {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      height: 1px;
      width: 100%;
      max-width: 50px;
      margin-right: 30px;
      background: #fff;
      display: inline-block;
    }
  }
}

.g-technologies {

  .grid {

    align-items: center;

    .grid__cell {
      &:first-child {
        width: ~'calc((100% / 12) * 5)';

        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }

      &:last-child {
        width: ~'calc((100% / 12) * 7)';

        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }

  &__content {
    color: #2b2a29;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
    padding-right: 55px;

    @media screen and (max-width: 767px) {
      padding-right: 0;
      text-align: center;
      padding-bottom: 40px;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: center;
      padding-left: 0;
    }

  }

  &__inner {
    padding-bottom: 50px;

    &:first-child {
      border-bottom: 1px solid #e9e9e9;
      margin-bottom: 50px;
    }
  }
}

.techn-images {

  &__item {
    padding-right: 75px;
    padding-bottom: 35px;

    @media screen and (max-width: 1100px) {
      padding-right: 35px;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      text-align: center;
      padding: 15px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__link {
    transition: .3s;

    img {
      transition: .3s;
      filter: grayscale(100%);
    }

    &:hover {
      img {
        filter: grayscale(0);
      }
    }
  }
}

.slider-otziv {
  padding-bottom: 30px;

  .owl-prev {
    width: 40px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    background: url('../images/slide-arrow.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    transition: .3s;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .owl-next {
    width: 40px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 50%;
    background: url('../images/slide-arrow.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: .3s;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  &__images {
    margin-bottom: 50px;
  }

  &__btn {
    align-self: flex-start;

    @media screen and (max-width: 950px) {
      align-self: center;
    }
  }

  &__header {
    color: #2b2a29;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 5px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__tittle {
    color: #8e8c8c;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    padding-bottom: 65px;
    width: 100%;
  }

  &__item {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    display: flex;
    //
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__data {
    background: #fff;
    padding: 55px 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    @media screen and (max-width: 950px) {
      padding: 55px 20px;
      text-align: center;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__content {
    background: #f2f2f2;
    padding: 70px 65px;
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
    color: #2b2a29;
    width: 50%;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-right: 12px solid #f2f2f2;
    }

    @media screen and (max-width: 767px) {
      width: 100%;

      &:before {
        content: none;
      }
    }

    @media screen and (max-width: 500px) {
      padding: 40px 25px;
    }
  }
}

.g-otzivi {

  &__btn {
    font-size: 14px;
    line-height: 30px;
    color: #d66c80;
    padding: 10px;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: #fff;
    }

  }
}

.g-klients {

  &__title {
    color: #2b2a29;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 60px;
    text-align: center;
  }
}

.slid-clients {
  margin-bottom: 60px;

  .owl-nav.disabled {
    display: block !important;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      width: initial !important;
      height: auto;
      cursor: pointer;

      &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
  }

  .owl-stage {
    display: flex;
    align-items: center;
  }

  .owl-prev {
    width: 40px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../images/slide-arrow-clients.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: .3s;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .owl-next {
    width: 40px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 50%;
    background: url('../images/slide-arrow-clients.png');
    transform: rotate(180deg) translateY(50%);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: .3s;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .owl-stage-outer {
    max-width: 1030px;
    margin: 0 auto;

  }

  &--solution {
    margin-bottom: 0;
  }
}

.part-of-team {
  color: #fff;

  .heading {
    padding-bottom: 20px;
  }

  &__list {
    column-count: 2;
    column-gap: 80px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 60px;

    @media screen and (max-width: 767px) {
      column-count: 1;
      column-gap: 0;
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
    }
  }

  &__tittle {
    color: #f2f2f2;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 55px;
    text-align: center;
  }

  &__item {
    padding-left: 35px;
    padding-bottom: 35px;
    position: relative;
    //float: left;
    page-break-inside: avoid;
    break-inside: avoid;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      background: url("../images/check-index-list-style-green.png");
      width: 13px;
      height: 11px;
    }
  }

  &__header {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 8px;
  }

  &__small-header {
    color: #f2f2f2;
    font-size: 17px;
    line-height: 20px;
  }

  &--p-work {

    .part-of-team__header {
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: inherit;
    }
  }
}

.p-resume {

  .grid__cell {
    &:first-child {
      width: 65%;

      @media screen and (max-width: 970px) {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    &:last-child {
      width: 35%;

      @media screen and (max-width: 970px) {
        width: 100%;
      }
    }
  }
}

.help-form {

  &__btn {
    color: @red;
    border-color: #fff;
    background: #fff;
    margin-top: 20px;

    &:hover {
      background: transparent;
      color: #fff;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;

    }
  }

  &__group {
    width: 100%;
    max-width: 300px;

    &--textarea {
      width: 100%;
      max-width: 100%;
    }

    @media screen and (max-width: 767px) {
      max-width: 100%;
      margin-bottom: 10px;

    }
  }

  &__helper {
    height: 20px;
    width: 100%;
    color: #fff;
    font-style: italic;
    opacity: 0.7;
    font-size: 12px;
    line-height: 20px;
  }

  &__textarea {
    width: 100%;
    height: 60px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #c7375f;
    font-size: 15px;
    color: #fff;
    outline: none;
    background: transparent;
    transition: .3s;
    resize: none;
    font-family: "PT Sans", sans-serif;

    &::-webkit-input-placeholder {
      color: #fff;
    }
    &::-moz-placeholder {
      color: #fff;
    }
    &:-moz-placeholder {
      color: #fff;
    }
    &:-ms-input-placeholder {
      color: #fff;
    }

    &:focus {
      border-color: #fff;
    }
  }

  &__input {
    width: 100%;
    height: 38px;
    padding-bottom: 0;
    border: none;
    border-bottom: 1px solid #c7375f;
    font-size: 15px;
    color: #fff;
    outline: none;
    background: transparent;
    transition: .3s;

    &::-webkit-input-placeholder {
      color: #fff;
    }
    &::-moz-placeholder {
      color: #fff;
    }
    &:-moz-placeholder {
      color: #fff;
    }
    &:-ms-input-placeholder {
      color: #fff;
    }

    &:focus {
      border-color: #fff;
    }
  }
}

.def-form {

  &__name {
    color: #2b2a29;
    font-size: 28px;
    line-height: 1.2;
    padding-bottom: 10px;

  }

  &__file-inner {
    width: 100%;
  }

  &__file-input {
    display: none;
  }

  &__file-label {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 100px;
    height: 0;
    border: 1px dashed #e4e1e1;
    color: #969494;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      color: @red;
      border-color: @red;
    }
  }

  &__file-upload {
    color: #2b2a29;
    font-size: 18px;
    font-weight: 700;
  }

  &__select {
    width: 100%;
    height: 38px;
    border: none;
    border-bottom: 1px solid #e4e1e1;
    font-size: 15px;
    color: #969494;
    outline: none;
    background: transparent;
    transition: .3s;
    background: url("../images/select-arrow.png");
    background-position: right 50%;
    background-repeat: no-repeat;
    appearance: none;
    padding: 0 20px 0 10px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: -10px;
    margin-right: -10px;
  }

  &__group {
    width: 100%;
    max-width: 300px;
    padding: 0 10px;

    &--textarea {
      width: 100%;
      max-width: 100%;
    }

    &--file {
      width: 100%;
      max-width: 100%;
      margin-bottom: 25px;
    }

    @media screen and (max-width: 650px) {
      max-width: 100%;
      margin-bottom: 5px;
    }
  }

  &__helper {
    height: 20px;
    width: 100%;
    color: @red;
    font-style: italic;
    opacity: 0.7;
    font-size: 12px;
    line-height: 20px;
  }

  &__textarea {
    width: 100%;
    height: 60px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #e4e1e1;
    font-size: 16px;
    color: @red;
    outline: none;
    background: transparent;
    transition: .3s;
    resize: none;
    font-family: "PT Sans", sans-serif;

    &::-webkit-input-placeholder {
      color: #969494;
    }
    &::-moz-placeholder {
      color: #969494;
    }
    &:-moz-placeholder {
      color: #969494;
    }
    &:-ms-input-placeholder {
      color: #969494;
    }

    &:focus {
      border-color: @red;
    }
  }

  &__input {
    width: 100%;
    height: 38px;
    padding-bottom: 0;
    border: none;
    border-bottom: 1px solid #e4e1e1;
    font-size: 16px;
    color: @red;
    outline: none;
    background: transparent;
    transition: .3s;
    font-family: "PT Sans", sans-serif;

    &::-webkit-input-placeholder {
      color: #969494;
    }
    &::-moz-placeholder {
      color: #969494;
    }
    &:-moz-placeholder {
      color: #969494;
    }
    &:-ms-input-placeholder {
      color: #969494;
    }

    &:focus {
      border-color: @red;
    }
  }

  &--popup {

    .def-form__group {
      max-width: 100%;
    }

  }
}

.g-help {

  &__small-heading {
    color: #fff;
    text-align: center;
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
  }

  &__inner {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 25px;
  }
}

.breadcrumb {
  min-height: 40px;
  display: flex;
  align-items: center;
  margin: 0 -20px;


  &__item {
    &:not(:last-child) {
      padding-right: 25px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 10px;
        width: 4px;
        height: 1px;
        background: #8e8c8c;
        top: 50%;
      }
    }

    &:last-child {

      .breadcrumb__link {
        color: #8e8c8c;
        pointer-events: none;
      }
    }
  }

  &__link {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    transition: .3s;

    &:hover {
      color: @red;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
  }

  &--bg-gray {
    background: #f2f2f2;

    .breadcrumb__link {
      color: #2b2a29;

      &:hover {
        color: @red;
      }
    }
  }

  &--history{
    position: relative;
    z-index: 2;
    padding-bottom: 55px;
    margin: 0 0;
  }
}

.b-work {

  .heading {
    padding-bottom: 40px;
  }

  &__title {
    width: 100%;
    max-width: 1030px;
    font-size: 20px;
    line-height: 32px;
    color: #2b2a29;
    margin: 0 auto;
  }
}

.hot-vacancy {
  display: table;
  width: 100%;

  &__btn-inner {
    display: table-cell;
    border-bottom: 1px solid #c7375f;
    text-align: right;
    vertical-align: middle;
    width: 220px;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      border: none !important;
    }
  }

  &__name {
    @media screen and (max-width: 767px) {
      border-color: transparent !important;
    }
  }

  &__value {
    @media screen and (max-width: 767px) {
      border-color: transparent !important;
    }
  }

  &__name,
  &__value {
    display: table-cell;
    border-bottom: 1px solid #c7375f;
    padding: 15px 20px;
    vertical-align: middle;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
    }
  }

  &--white {

    .hot-vacancy__item {

      &:first-child {

        .hot-vacancy__btn-inner {
          border-top: 1px solid #e4e1e1;
        }

        .hot-vacancy__name,
        .hot-vacancy__value {
          border-top: 1px solid #e4e1e1;
        }
      }

      @media screen and (max-width: 767px) {
        border: 1px solid rgba(112, 112, 112, 0.17);

        .hot-vacancy__btn {
          background: @red;
          color: #fff;
        }
      }
    }

    .hot-vacancy__btn-inner {
      border-bottom: 1px solid #e4e1e1;
    }

    .hot-vacancy__name,
    .hot-vacancy__value {
      border-bottom: 1px solid #e4e1e1;
    }

    .hot-vacancy__item {
      color: #2b2a29;

      &:hover {
        background: #f2f2f2;
      }
    }

    .hot-vacancy__btn {
      color: #2b2a29;

      &:hover {
        background: @red;
        color: #fff;
      }
    }
  }

  &__item {
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    //flex-wrap: wrap;
    display: table-row;
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    transition: .3s;
    margin-bottom: 30px;

    &:first-child {

      @media (min-width: 768px) {
        .hot-vacancy__name,
        .hot-vacancy__value,
        .hot-vacancy__btn-inner {
          border-top: 1px solid #c7375f;
        }
      }
    }

    &:hover {
      background: rgba(202, 15, 66, 0.34);

      @media screen and (max-width: 767px) {
        background: transparent !important;
      }
    }

    &--hot-status {
      .hot-vacancy__name {

        &:after {
          content: '';
          margin-left: 15px;
          background: url('../images/hot-vacancy-item.png');
          width: 13px;
          height: 15px;
          display: inline-block;
        }
      }
    }

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.41);

      .hot-vacancy__btn {
        width: 100%;
        text-align: center;
        background: #fff;
        color: @red;
      }
    }
  }

  &__btn {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    transition: .3s;
    font-weight: 700;
    padding: 0 20px;
    line-height: 51px;
    display: inline-block;

    &:hover {
      background: #fff;
      color: @red;
    }
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.b-status {


  .owl-stage{
    display: flex;
  }

  &__inner {
    pointer-events: none;
    .grid__cell {
      @media screen and (max-width: 1100px) {
        width: 100%;
        margin-bottom: 35px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__item {
    display: flex;
    border: 1px solid #f2f2f2;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 650px) {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.61);
      }
    }
  }

  &__info-inner {
    position: relative;
    padding: 25px;
    width: 40%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 650px) {
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-right: 10px solid #fff;
      right: 100%;
      top: 50%;
      margin-top: -10px;
    }
  }

  &__images {

    img {
      display: block;

      @media screen and (max-width: 650px) {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0px;
      }
    }
  }

  &__text {
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
    color: #2b2a29;
    position: relative;
    text-transform: uppercase;
    padding-top: 25px;

    @media screen and (max-width: 650px) {
      color: #fff;
      z-index: 2;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 50px;
      height: 2px;
      background: @red;

    }

  }
}
.owl-carousel .owl-item img{
  width: auto;
}

.otziv-personal {


  &__inner {
    pointer-events: none;
    .grid__cell {
      @media screen and (max-width: 950px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  &__item {
    display: flex;
    height: 100%;
    padding-bottom: 20px;
    flex-wrap: wrap;
  }

  &__images {
    overflow: hidden;
    margin-right: 10px;
    position: relative;

    img {
      width: 270px;
      height: 270px;
      border-radius: 50%;

      @media screen and (max-width: 1199px) {
        width: 200px;
        height: 200px;
      }

      @media screen and (max-width: 950px) {
        width: 150px;
        height: 150px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 20px;
      right: 0;
      background: url("../images/dotted_otziv.png");
      width: 57px;
      height: 46px;
    }
  }

  &__data {
    height: 100%;
    padding: 0 10px;
    width: 50%;
    padding-top: 30px;

    @media screen and (max-width: 950px) {
      flex: 1;
      padding-top: 10px;
    }

    @media screen and (max-width: 450px) {
      flex: none;
      width: 100%;
      padding-top: 20px;
    }
  }

  &__text {
    color: #969494;
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    padding-bottom: 10px;
  }

  &__name {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    color: #2b2a29;
    font-weight: 700;

  }
}

.result-search {
  padding-bottom: 120px;

  &__heading {
    font-size: 28px;
    color: #2b2a29;
    padding-bottom: 50px;
    text-align: center;
  }
}

.form-search {

  &__result {
    padding-bottom: 35px
  }

  &__result-item {
    margin: 0 10px 10px 0;
    background: #2b2a29;
    color: #fff;
    position: relative;
    padding: 10px 15px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
  }

  &__result-close {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;

    &:hover {
      color: #a09999;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    //

    .def-form__group {
      max-width: 100%;
      padding: 0;
    }

    &--padding{
      margin-top: 40px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__item {
    width: 43%;
    padding-right: 20px;
    padding-bottom: 20px;

    .btn {
      width: 100%;
    }

    &:last-child {
      padding-right: 0;
      width: 14%;
      text-align: right;

      @media screen and (max-width: 767px) {
        width: 100%;
        padding-right: 0;
      }
    }

    .def-form__select {
      height: 46px;
      border: 1px solid #e4e1e1;
      padding: 0 20px;
      background-position: 98% center;

    }

    .def-form__input {
      height: 46px;
      border: 1px solid #e4e1e1;
      padding: 0 20px;

    }

    @media screen and (max-width: 767px) {
      width: 100%;
      padding-right: 0;
    }
  }
}

.demands-list {
  color: #fff;
  padding: 80px 0 65px 0;

  &__inner {
    column-count: 2;
    column-gap: 30px;
    width: 100%;

    @media screen and (max-width: 767px) {
      column-count: 1;
      column-gap: 0;
    }
  }

  &__content {

  }

  &__list {
    padding-top: 20px;
  }

  &__name-list {
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 20px;
    display: inline-block;
  }

  &__item {
    padding-left: 35px;
    padding-bottom: 10px;
    position: relative;
    font-size: 17px;
    line-height: 20px;
    padding-right: 40px;
    font-weight: 400;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      background: url("../images/check-index-list-style-white.png");
      width: 10px;
      height: 8px;
    }

    @media screen and (max-width: 767px) {
      padding-right: 0;
    }
  }

  &__header {
    font-size: 28px;
    padding-bottom: 15px;
    text-transform: uppercase;
  }

  &__small-header {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
  }
}

.big-bg-slider {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  transition: .4s;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.def-list {
  padding: 80px 0 65px 0;

  &__header {
    text-transform: uppercase;
    font-size: 28px;
    color: @red;
    padding-bottom: 31px;
    text-align: left;
  }

  &__list {
    column-count: 2;
    column-gap: 30px;
    width: 100%;

    @media screen and (max-width: 767px) {
      column-count: 1;
      column-gap: 0;

    }
  }

  &__item {
    padding-left: 40px;
    padding-bottom: 15px;
    position: relative;
    //float: left;
    page-break-inside: avoid;
    break-inside: avoid;
    font-size: 18px;
    line-height: 30px;
    color: #2b2a29;
    padding-right: 40px;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      background: url("../images/check-index-list-style.png");
      width: 13px;
      height: 11px;
    }

    @media screen and (max-width: 767px) {
      padding-right: 0;
    }
  }

  &--white {

    .def-list__item {
      color: #fff;

      &:before {
        content: '';
        position: absolute;
        left: 5px;
        top: 6px;
        width: 4px;
        height: 8px;
        border: 2px solid #fff;
        border-left: 0;
        border-top: 0;
        transform: rotate(45deg);

      }
    }

    .def-list__header {
      color: #fff;
    }
  }
}

.contact-face {

  &__link {
    font-size: 16px;
    color: #2b2a29;
    line-height: 24px;
    padding-left: 27px;
    position: relative;
    text-decoration: none;
    transition: .3s;
    margin-bottom: 5px;

    &:hover {
      color: @red;
    }

    &--home-tel {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('../images/ico-home-tel.png');
        width: 15px;
        height: 15px;
      }
    }

    &--tel {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('../images/ico-tel.png');
        width: 9px;
        height: 15px;
      }
    }

    &--mail {
      text-decoration: underline;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('../images/ico-mail.png');
        width: 14px;
        height: 10px;

      }
    }
  }

  &__position {
    font-size: 20px;
    text-transform: none;
    font-weight: 400;
    line-height: 24px;
  }

  &__name {
    color: #2b2a29;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 25px;
  }

  &__info-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: 660px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__btn-inner {
    display: flex;
    flex-direction: column;

  }

  &__btn {
    margin-bottom: 20px;
    width: 100%;
    max-width: 340px;
  }

  &__info {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;

    @media screen and (max-width: 660px) {
      margin-right: 0;
    }
  }

  &__images {
    position: relative;
    margin-bottom: 20px;
    margin-right: 80px;

    img {
      width: 230px;
      height: 230px;
      overflow: hidden;
      border-radius: 50%;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      max-width: 60px;
      height: 5px;
      background: @red;
      top: 50%;
      margin-top: -2px;
      right: -30px;
    }

    @media screen and (max-width: 660px) {
      margin-right: 0;
    }
  }
}

.full-news {
  padding: 60px 0 30px 0;

  .grid__cell {

    &:first-child {
      width: 75%;

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }

    &:last-child {
      width: 25%;

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }
}

.p-news {

  .grid {
    margin: 0 -20px;

    .grid__cell {
      width: 50%;
      padding: 0 20px;
      padding-bottom: 50px;

      @media screen and (max-width: 720px) {
        width: 100%;
      }
    }
  }
}

.news-card {
  position: relative;
  border: 1px solid #e8e8e8;
  height: 100%;

  &__images {
    overflow: hidden;
    display: block;
    transition: .3s;

    img {
      width: 100%;
      height: auto;
      transition: .3s;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  &__data {
    padding: 26px 27px 38px 27px;
  }

  &__content {
    font-size: 16px;
    line-height: 24px;
    color: #8e8c8c;
    padding-bottom: 25px;
  }

  &__header {
    font-size: 22px;
    line-height: 24px;
    color: #2b2a29;
    transition: .3s;
    padding-bottom: 20px;
    text-decoration: none;
    display: block;

    &:hover {
      color: @red;
    }
  }

  &__date {
    position: absolute;
    left: 22px;
    top: 0;
    padding: 0 0 11px 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    background-image: url('../images/news-item-data.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    align-items: center;
    z-index: 10;
    text-align: center;
  }

  &__date-inner {
    padding-top: 20px;
    background-color: @red;
    padding-bottom: 5px;

    div {
      margin: 0 8px;

      &:first-child {
        padding-bottom: 3px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ba4868;
      }

      &:first-child {

      }
    }
  }

  &__btn {

    @media screen and (max-width: 720px) {
      padding: 0 15px;
    }
    &:hover {
      color: #fff;
      background: @red;
      border-color: @red;
    }
  }
  &--baner {
    margin-bottom: 40px;

    .news-card__data {
      padding: 25px;
    }

    .news-card__header {
      font-size: 18px;
      line-height: 20px;
    }

    .news-card__btn {
      font-size: 13px;
      line-height: 20px;
      min-height: 34px;
      padding: 0 10px;
    }

  }
}

.banners {

  &__item {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.info-content {
  background: @red;
  padding: 30px 0 40px 0;
  color: #fff;

  &__header {
    font-size: 28px;
    line-height: 30px;
    padding-bottom: 25px;
  }

  &__text {
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
  }

}

.banners {

  &__header {
    color: #2b2a29;
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

  }
}

.maps {
  height: 360px;

  .ymaps-layers-pane {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  }
}

.history {
  background-position: 50% 50%;
  background: rgba(204, 31, 39, 0.71);
  padding: 0;

  &__inner {
    //position: absolute;
    ///* background: red; */
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    overflow: hidden;
    margin-top: -167px;

    @media screen and (max-width: 515px) {
      margin-top: -212px;
    }

    @media screen and (max-width: 400px) {
      margin-top: -152px;
    }

    @media screen and (max-width: 367px) {
      margin-top: -182px;
    }
    .slick-next {
      //right: 15px;
      right: 5%;
      z-index: 11;
      height: auto;
      width: auto;
      top: 335px;

      @media screen and (max-width: 992px) {
        top: auto;
        bottom: 50px;
      }

      &:before {
        content: '';
        width: 36px;
        height: 36px;
        border: 3px solid #fff;
        display: block;
        border-bottom: 0;
        border-left: 0;
        transform: rotate(45deg);

      }
    }

    .slick-prev {
      //left: 15px;
      left: 5%;
      z-index: 11;
      height: auto;
      width: auto;
      top: 335px;

      @media screen and (max-width: 992px) {
        top: auto;
        bottom: 50px;
      }

      &:before {
        content: '';
        width: 36px;
        height: 36px;
        border: 3px solid #fff;
        display: block;
        border-bottom: 0;
        border-right: 0;
        transform: rotate(-45deg);

      }
    }
  }

  &__thumbs{
    margin-top: -50px;
  }

  .prewiews__inner {
    padding-bottom: 0;
  }

  &__body {
    height: 100%;
    //margin: 200px 30px 280px 30px;
    //margin: 0 0 50px 0;

    @media screen and (max-width: 1100px) {
      //margin: 200px 0 280px 0;
    }

    @media screen and (max-width: 992px) {
      //margin: 100px 0 140px 0;
    }

    @media screen and (max-width: 992px) {
      //margin: 50px 0 60px 0;
    }
  }

  &__item {
    display: flex !important;
    align-items: center;
    min-height: 280px;
    margin: 200px 0 70px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 0 20px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      //padding: 0 50px;
    }
  }
}

.history-slide {
  color: #fff;

  &__inner{
    //min-height: 400px;
  }

  &__images{
    position: absolute;
    /* background: red; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-size: cover;


    &:before{
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(43, 42, 41, 0.55);
    }
  }

  &__data {
    font-size: 28px;
    font-weight: 700;
    padding: 60px;
    background: linear-gradient(to right, @red 0%, @red 50%, transparent 50% m transparent 100%);
    margin-right: 25px;
    margin-left: 50px;

    @media screen and (max-width: 992px) {
      font-size: 25px;
      padding: 10px;
    }

  }

  &__content {
    flex: 1;
    padding: 40px 0;
    font-size: 18px;
    line-height: 30px;
    text-align: left;

    @media screen and (max-width: 1100px) {
      font-size: 26px;
      line-height: 1.2;
    }

    @media screen and (max-width: 767px) {
      padding: 10px 0 40px 0;
      text-align: center;
    }

  }
}

.thumbs__item {
  font-size: 18px;
  padding-bottom: 23px;
  color: #8e8c8c;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: none;
}

.slick-current {
  .thumbs__item {
    color: #fff;
    border-bottom: 3px solid #fff;
  }
}

.p-contacts {

  &__header-title {
    text-align: center;
    color: #2b2a29;
    padding-bottom: 55px;
    font-size: 24px;
    line-height: 30px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__header {
    font-size: 28px;
    line-height: 30px;
    color: #2b2a29;
    padding-bottom: 20px;
    text-transform: uppercase;
  }

  &__item {
    padding: 0 25px 25px 0;

    &:last-child {
      padding: 0;
    }
  }

  &__link-mail {
    color: #2b2a29;
    font-size: 16px;
    line-height: 24px;
    transition: .3s;

    &:before {
      content: '';
      margin-right: 15px;
      display: inline-block;
      background-image: url('../images/ico-mail.png');
      width: 14px;
      height: 10px;
    }

    &:hover {
      color: @red;
    }
  }

  &__address {
    font-size: 16px;
    line-height: 27px;
    color: #969494;
    position: relative;
    padding-left: 25px;
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }

    &:before {
      content: '';
      margin-right: 15px;
      display: inline-block;
      background: url(../images/map-point.png) no-repeat 50% 50%;
      width: 12px;
      height: 22px;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__link-tel {
    font-size: 16px;
    line-height: 24px;
    color: #969494;
    transition: .3s;
    position: relative;
    text-decoration: none;

    &:hover {
      color: @red;
    }

    &:before {
      content: '';
      margin-right: 15px;
      display: inline-block;
      background-image: url('../images/ico-home-tel.png');
      width: 15px;
      height: 15px;
    }

  }
}

.contacts-form {
  padding: 75px 0 90px 0;

  &__inner {
    .btn {
      //margin-top: 20px;
    }
  }

  .def-form__group {
    @media screen and (max-width: 1250px) {
      max-width: 100%;
    }
  }

  .grid__cell {
    @media screen and (max-width: 690px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__title {
    padding-left: 28px;
    position: relative;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 20px;
    color: #969494;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: url("../images/ico-camera.png");
      width: 13px;
      height: 15px;

    }
  }

  &__data-cell {
    display: flex;
    margin-bottom: 0;
    padding-top: 30px;

    @media screen and (max-width: 690px) {
      margin-bottom: 0;
      padding-top: 30px;

    }
  }

  &__data-inner {
    margin-left: auto;

    @media screen and (max-width: 690px) {
      margin-left: 0;
    }
  }

  &__btn {
    margin-left: 28px;
    color: #969494;
    border-color: #969494;
    background: transparent;
    margin-bottom: 40px;

    &:hover {
      color: @red;
      border-color: @red;
    }
  }
}

.select-partners {
  font-size: 16px;
  line-height: 26px;
  color: #2b2a29;
  padding-left: 28px;
  position: relative;
  display: block;
  transition: .3s;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url('../images/ico-office.png');
    width: 10px;
    height: 16px;
  }

  &:hover {
    color: @red;
    text-decoration: none;
  }
}

.lidership {

  .heading {
    padding-bottom: 30px;

  }

  &__title {
    color: #2b2a29;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 75px;
  }

  &__item {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 80px;

    @media screen and (max-width: 690px) {
      flex-direction: column;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__avatar {
    //width: 33.3333333333%;
    padding: 0 10px;
    position: relative;
    padding-right: 60px;

    &:before {
      content: '';
      height: 5px;
      width: 60px;
      background: #a30b35;
      position: absolute;
      right: 25px;
      top: 50%;
      margin-top: -2px;
    }

    img {
      width: 300px;
      height: 300px;
      overflow: hidden;
      border-radius: 50%;
      display: block;

      @media screen and (max-width: 1100px) {
        width: 200px;
        height: 200px;

      }

      @media screen and (max-width: 690px) {
        margin-bottom: 35px;
      }
    }
  }

  &__data {
    //width: 66.6666666666%;
    padding: 0 10px;
    flex: 1;

  }

  &__header {
    color: #2b2a29;
    font-size: 28px;
    line-height: 30px;
    padding-bottom: 2px;
    text-transform: uppercase;
  }

  &__position {
    font-size: 14px;
    color: #8e8c8c;
    line-height: 30px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;

    @media screen and (max-width: 690px) {
      padding-bottom: 10px;
    }
  }

  &__content {
    color: #2b2a29;
    font-size: 18px;
    line-height: 30px;

    @media screen and (max-width: 690px) {
      font-size: 16px;
    }

  }
}

.project {
  padding: 65px 0 80px 0;
  overflow: hidden;

  .grid {
    margin: 0 -50px;

    @media screen and (max-width: 1200px) {
      margin: 0 -20px;
    }
  }

  .grid__cell {
    width: 33.3333333%;
    padding: 0 50px 30px 50px;

    @media screen and (max-width: 1200px) {
      padding: 0 20px 30px 20px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

  }

  &__name {
    font-size: 45px;
    line-height: 54px;
    padding-bottom: 40px;

    @media screen and (max-width: 1200px) {
      font-size: 36px;
    }
  }

  &__link {
    //display: block;
    padding: 10px 30px 10px 20px;
    font-size: 18px;
    color: #2b2a29;
    transition: .3s;
    position: relative;
    min-height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e1e1;
    text-decoration: none;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: -100%;
      transform: rotate(45deg) translateY(-50%);
      width: 6px;
      height: 6px;
      border: 1px solid #fff;
      border-left: none;
      border-bottom: none;
      transition: .3s;
    }

    &:first-child {
      border-top: 1px solid #e4e1e1;
    }

    &:hover {
      background: #a30b35;
      color: #fff;

      &:before {
        right: 20px;
      }
    }
  }
}

.lang-variant {
  position: absolute;

  left: 0;
  right: 0;
  height: 65px;
  align-items: center;
  justify-content: flex-end;
  background: #2b2a29;
  top: 100%;
  z-index: 25;
  display: none;
  padding: 0 50px;

  &__item {
    text-transform: uppercase;
    font-size: 15px;
    color: #aaa9a9;
    margin-left: 60px;
    transition: .3s;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    &--active {
      color: #fff;
      pointer-events: none;
    }

    @media screen and (max-width: 560px) {
      margin-left: 0;
      margin-right: 60px;
    }
  }

  @media screen and (max-width: 560px) {
    justify-content: flex-start;
  }
}

.m-head-data {
  display: none;
  //position: relative;
  align-items: center;
  margin-left: auto;

  @media screen and (max-width: 950px) {
    display: flex;
  }

  &__lang {
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: .3s;
    background: url('../images/ico-world.png');
    margin-left: 30px;
    &:hover {
      opacity: 0.7;
    }
    &--active {

      & + .lang-variant {
        display: flex;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        margin-left: 5px;
        border-bottom: 5px solid #2b2a29;

      }
    }

  }

  &__message {
    width: 22px;
    height: 16px;
    margin-left: 30px;
    transition: .3s;
    background: url('../images/ico-mesage-mobile.png');
    z-index: 2;

    &:hover,
    &--active {
      opacity: 0.7;
    }
  }
}

.btn-mob {
  height: 39px;
  flex-direction: column;
  width: 40px;
  justify-content: space-between;
  margin-left: 20px;
  transition: .3s;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
  margin-right: -10px;
  display: none;

  &:hover {

    .btn-mob__item {
      background: @red;
    }

    &:before,
    &:after {
      background: @red;
    }
  }

  &__item {
    width: 100%;
    height: 3px;
    background: #2b2a29;
    transition: .3s;
  }

  &:before {
    content: '';
    width: 100%;
    height: 3px;
    background: #2b2a29;
    transition: .3s;
  }

  &:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #2b2a29;
    transition: .3s;
  }

  @media screen and (max-width: 845px) {
    display: flex;
  }
}

.form-pr-solutions {
  margin: 0 -10px;

  .form-search__item {
    width: 33.3333333%;
    padding: 10px 10px 30px 10px;
    text-align: left;

    @media screen and (max-width: 900px) {
      width: 100%;
      padding-bottom: 20px;
    }
  }
}

.pr-solutions {

  &__item {
    display: flex;
    margin-bottom: 50px;
    border: 1px solid #e8e8e8;

    @media screen and (max-width: 990px) {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__header {
    color: #2b2a29;
    font-size: 28px;
    line-height: 1;
    padding-bottom: 15px;

  }

  &__content {
    color: #2b2a29;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 25px;

  }

  &__images {
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0;
    //height: 350px;
     height: 309px;


    @media screen and (max-width: 990px) {
      width: 100%;
      height: 170px;
    }
  }

  &__data {
    width: 60%;
    padding: 40px 50px;

    @media screen and (max-width: 990px) {
      padding: 20px 10px;
      width: 100%;
    }
  }

  &__btn {

    &:hover {
      color: #fff;
      background: @red;
      border-color: @red;

    }
  }
}

.templates {
  margin-left: 50px;
  /* column-count: 4; */
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
    padding-left: 50px;
    margin-bottom: 15px;
    display: block;
    width: 33.3333%;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 14px;
      width: 34px;
      height: 1px;
      background: @red;
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.3;
      cursor: no-drop;
    }

    @media screen and (max-width: 1199px) {
      width: 50%;
    }

    @media screen and (max-width: 850px) {
      width: 100%;
    }
  }

  &__links {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    color: @red;
    transition: .3s;

    &:hover {
      color: rgba(43, 42, 41, 0.81);
    }

    @media screen and (max-width: 850px) {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 767px) {
    margin: 0;

  }
}

.heder-list {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  color: #fff;
  column-count: 2;
  column-gap: 30px;

  &__item {
    position: relative;
    padding: 0 0 20px 30px;
    text-align: left;
    font-size: 20px;
    line-height: 32px;
    display: block;

    &:before {
      content: '';
      position: absolute;
      left: 5px;
      top: 11px;
      width: 4px;
      height: 8px;
      border: 2px solid #fff;
      border-left: 0;
      border-top: 0;
      transform: rotate(45deg);

    }
  }

  @media screen and (max-width: 900px) {
    column-count: 1;
    column-gap: 0;

  }
}

.project-technolog {
  background: #f2f2f2;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 150px;
  }

  &__item {
    padding: 20px 35px;
  }
}

.customer {
  padding: 60px 0 0 0;

  &__header {
    font-size: 40px;
    line-height: 1;
    color: #2b2a29;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__images {
    width: 25%;
    padding-right: 20px;
    padding-bottom: 25px;

    @media screen and (max-width: 600px) {
      width: 100%;

    }
  }

  &__data {
    flex: 1;
  }

  &__item {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media screen and (max-width: 600px) {
      flex-direction: column;

    }
  }
}

.data-customer {

  &__header {
    color: #2b2a29;
    font-size: 28px;
    padding-bottom: 25px;
  }

  &__content {
    font-size: 18px;
    color: #2b2a29;
    line-height: 30px;
    padding-bottom: 30px;
  }

  &__link {
    transition: .3s;
    color: @red;
    text-decoration: none;
    padding-bottom: 20px;
    font-size: 18px;

    &:hover {
      opacity: 0.7;
    }
  }
}

hr {
  height: 1px;
  width: 100%;
  margin-bottom: 45px;
  border: 0;
  background: #e4e1e1;
}

//.content-name-list {
//  text-transform: uppercase;
//}

.slide-progect {

  padding: 20px 0;

  &__header {
    color: #2b2a29;
    font-size: 45px;
    text-align: center;
    padding: 0 0 50px 0;
  }

  .owl-prev {
    width: 24px;
    height: 14px;
    position: absolute;
    left: 0;
    top: -80px;
    background: url('../images/arrow-slide-project.png');
    transition: .3s;

    &:hover {
      opacity: 0.7;
    }
  }

  .owl-next {
    width: 24px;
    height: 14px;
    position: absolute;
    right: 0;
    top: -80px;
    background: url('../images/arrow-slide-project.png');
    transform: rotate(180deg);
    transition: .3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.info-about-companu {
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .info-companu__data {
    padding-top: 10px;
  }

  .info-companu__images-inner {
    margin-right: 35px;

    @media screen and (max-width: 500px) {
      margin-right: 0;
      padding-bottom: 0;
    }
  }

  .info-companu__item {
    width: 50%;
    padding: 0 35px 40px 35px;
    flex-direction: row;
    align-items: flex-start;

    @media screen and (max-width: 1250px) {
      flex-direction: column;
    }

    @media screen and (max-width: 1250px) {
      flex-direction: row;
      width: 100%;
      padding: 0;
      padding-bottom: 26px;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
      text-align: center;

    }
  }
}

.participation-assoc {

  //padding: 50px 0;

  .participation-assoc__name {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }

  .participation-assoc__list {
    font-size: 17px;
    line-height: 24px;
    text-transform: none;
    font-weight: 400;
    text-align: left;
    color: #fff;

    li {
      padding-left: 30px;
      padding-bottom: 10px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        background: url('../images/check-index-list-style-white.png');
        width: 10px;
        height: 8px;
      }
    }
  }

  .participation-assoc__text {
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    padding-top: 15px;
    text-transform: capitalize;
    font-weight: 400;
    //text-align: left;
    text-align: center;
  }

  &__inner-item {
    display: flex;
    flex-direction: column;
    padding: 35px 30px;
    background: #8ead0c;
    height: 100%;
    width: 100%;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--4cell {
      margin: 0 -10px;

      .participation-assoc__item {
        padding: 0 10px 20px 10px;
        width: 25%;
        margin: 0;
        background: transparent;

        span {
          &:last-child {
            font-size: 17px;
            line-height: 24px;
            padding-top: 15px;
            text-transform: capitalize;
            font-weight: 400;
          }
        }

        @media screen and (max-width: 1250px) {
          width: 50%;
          margin: 0;
          margin-bottom: 30px;
          max-width: 100%;
        }

        @media screen and (max-width: 991px) {
          width: 100%;
          margin: 0;
          margin-bottom: 30px;
          max-width: 100%;
        }
      }
    }

    &--platform {
      margin: 0 -10px;

      .participation-assoc__item {
        padding: 0 10px 20px 10px;
        margin: 0;
        background: transparent;

        span {
          &:last-child {
            font-size: 17px;
            line-height: 24px;
            padding-top: 15px;
            text-transform: capitalize;
            font-weight: 400;
          }
        }
      }
    }

    &--2cell {
      margin: 0 -10px;

      .participation-assoc__item {
        padding: 0 10px 20px 10px;
        width: 50%;
        margin: 0;
        background: transparent;
        max-width: 555px;

        @media screen and (max-width: 1250px) {
          width: 50%;
          margin: 0;
          margin-bottom: 30px;
          max-width: 100%;
        }

        @media screen and (max-width: 991px) {
          width: 100%;
          margin: 0;
          margin-bottom: 30px;
          max-width: 100%;
        }
      }
    }
  }

  &__item {
    width: 100%;
    max-width: 330px;
    margin: 0 30px 30px 30px;
    padding: 20px 25px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #8ead0c;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (max-width: 1250px) {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
      max-width: 100%;
    }
  }
}

.team-project {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;
  }

  &__item {
    width: 100%;
    max-width: 230px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px 20px;

    @media screen and (max-width: 650px) {
      width: 100%;
      max-width: 50%;
    }
  }

  &__item-title {
    font-size: 17px;
    line-height: 20px;
    font-weight: normal;
  }

  &__images {
    width: 100px;
    height: 100px;
    background: @red;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 20px;
  }

  &__content {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }

  &--solution2 {
    .team-project__item {
      width: 50%;
      padding: 0 10px 0 10px;
      max-width: 100%;
      flex-direction: row;
      align-items: center;
      margin-bottom: 40px;
      text-align: left;

      @media screen and (max-width: 767px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    .team-project__images {
      margin-right: 30px;
      @media screen and (max-width: 767px) {
        margin-right: 0;
      }

    }

    .team-project__content {
      flex: 1;
    }

    .team-project__text {
      font-size: 17px;
    }

    .team-project__item-name {
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 8px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &--solution21 {

    .team-project__header {
      font-size: 28px;
      line-height: 35px;
      text-align: center;
      padding-bottom: 50px;
      color: #fff;
    }

    .team-project__inner {
      margin-right: -10px;
      margin-left: -10px;

    }

    .team-project__item {
      width: 33.3333333333%;
      padding: 0 10px 45px 10px;
      max-width: 100%;

      @media screen and (max-width: 1000px) {
        width: 50%;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

  }
}

.red-reward {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;
  }

  &__item {
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 20px 20px 20px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%;
      max-width: 160px;
      height: 1px;
      background: #b6123f;
      transform: translateX(50%);
    }

    &:last-child {
      &:before {
        content: none;
      }
    }

    @media screen and (max-width: 950px) {
      width: 100%;
      margin-bottom: 30px;

      &:before {
        content: none;
      }
    }
  }

  &__images {
    width: 100px;
    height: 100px;
    background: @red;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #b6123f;
  }

  &__heading {
    font-weight: 700;
    font-size: 19px;
    padding-bottom: 10px;
    line-height: 1;
  }

  &__content {
    font-size: 15px;
    line-height: 20px;

    span {
      font-size: 15px;
      font-weight: 300;
      font-style: italic;
    }
  }
}

.tabs-clients {

  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border-bottom: 1px solid #f2f2f2;

  &__ico-tabs {
    margin-right: 15px;
  }

  &__item {
    padding: 5px 0;
    margin-right: 35px;
    opacity: .4;
    color: #2b2a29;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    transition: .3s;
    position: relative;
    cursor: pointer;
    font-weight: 700;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 0;
      right: 0;
      margin: 0 auto;
      height: 2px;
      background: #a30b35;
      transition: .4s;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;

    }

    &--active {
      opacity: 1;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}

.page-clients {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
  }

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }
}

.abaut-clients {

  &__inner {

  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33.3333333%;
    height: 245px;
    position: relative;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;

    &:hover {

      .abaut-clients__content {
        //width: 100%;
        height: 100%;

      }
    }

    @media screen and (max-width: 1199px) {
      width: 50%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;


      .btn {
        font-size: 14px;
        padding: 0 3px;
      }
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height .4s;
    transform-origin: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(163, 11, 53, 0.9);

    span {
      font-size: 16px;
      line-height: 22px;
      color: #fff;
      margin: 30px;
      max-height: 90px;
      overflow: hidden;
    }
  }
}

.partners {
  background-color: #2b2a29;

  .heading {
    color: #fff;
  }
}

.slid-partners {

  &__inner {
    max-width: 1070px;
    margin: 0 auto;
  }

  .owl-stage {
    display: flex;
  }

  .owl-item {

  }

  .owl-nav {
    display: none !important;
    @media (min-width: 1190px) {
      display: block !important;
    }
  }

  .owl-carousel .owl-nav.disabled {
    display: none;
    @media (min-width: 1190px) {
      display: block;
    }
  }

  .owl-prev {
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    background: url("../images/slide-arrow-clients.png");
    width: 24px;
    height: 14px;

    &:hover {
      background: url("../images/slide-arrow.png");
      transform: translateY(-50%) rotate(-180deg);
    }
  }

  .owl-next {
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    background: url("../images/slide-arrow-clients.png");
    width: 24px;
    height: 14px;

    &:hover {
      background: url("../images/slide-arrow.png");
      transform: translateY(-50%);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 10px;
    height: 100%;
    min-height: 130px;

    img {
      max-width: 100%;
      width: auto !important;
    }
  }
}

.solution-preview {
  background: @red;

  &__header {
    font-size: 45px;
    padding: 50px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    padding: 37px 0 4px 0;
    flex-wrap: wrap;
    margin: 0 -20px;

    &--3cell {

      .solution-preview__item {
        width: 33.3333333%;

        @media screen and (max-width: 830px) {
          width: 100%;
        }
      }
    }
  }

  &__item {
    width: 25%;
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1100px) {
      width: 50%;
    }

    @media screen and (max-width: 560px) {
      width: 100%;
    }
  }

  &__images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #b6123f;
    margin-bottom: 20px;
    padding: 5px;
  }

  &__name {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    text-align: center;
  }

  &--solution41 {
    .solution-preview__item {
      flex-direction: row;
      //flex-wrap: nowrap;

      @media screen and (max-width: 1100px) {
        width: 33.3333%;
        flex-direction: column;
        align-items: center;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    .solution-preview__name {
      flex: 1;
      text-align: left;
      padding-left: 20px;

      @media screen and (max-width: 1100px) {
        text-align: center;
      }
    }
  }
}

.solution-circe {
  padding-top: 70px;
  padding-bottom: 20px;

  .info-companu__images-inner {
    margin-right: 25px;

    @media screen and (max-width: 500px) {
      margin-right: 0;
    }
  }

  .info-companu__inner {
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }

  .info-companu__item {
    flex-direction: row;
    width: 50%;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .info-companu__header {
    font-size: 19px;
    line-height: 30px;
    text-align: left;

    @media screen and (max-width: 500px) {
      text-align: center;
    }
  }
}

.solut-services {

  &__inner {

    .grid {
      margin: 0 -15px;
      justify-content: center;
    }

    .grid__cell {
      width: 33.33333%;
      padding: 0 15px 30px 15px;

      @media screen and (max-width: 1000px) {
        width: 50%;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    color: #fff;
    text-decoration: none;
    height: 100%;
    justify-content: space-between;

    min-height: 240px;

    &:before {
      content: '';
      transition: .3s;
    }

    &:hover {
      &:before {
        background: rgba(43, 42, 41, 0.7);
      }

      .btn {
        color: #fff;
        background: @red;
        border-color: @red;
      }
    }
  }

  &__name {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}

.interaction {

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 33.3%;
    padding: 0 30px 30px 30px;
    display: flex;
    align-items: center;

    &--50 {
      width: 50%;
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__images {
    margin-right: 30px;

    @media screen and (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__name {
    color: #2b2a29;
    font-size: 18px;
    line-height: 30px;
  }
}

.solut-technologi {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: center;

  }

  &__item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 50px 10px;
    transition: .3s;

    img {
      transition: .3s;
      filter: grayscale(100%);
    }

    &:hover {
      img {
        filter: grayscale(0);
      }
    }

    @media screen and (max-width: 900px) {
      width: 33.33333%;
    }

    @media screen and (max-width: 600px) {
      width: 50%;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
}

.solut-industry {

  &__title {
    color: #2b2a29;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 50px;
  }

  &__inner {

    .grid {
      margin: 0 -10px;
    }

    .grid__cell {
      width: 33.33333%;
      padding: 0 10px 20px 10px;

      @media screen and  (max-width: 990px) {
        width: 50%;
      }

      @media screen and  (max-width: 767px) {
        width: 100%;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 35px 30px;
    color: #fff;
    text-decoration: none;
    flex-direction: column;
    height: 100%;
    text-align: center;
    overflow: hidden;

    &:before {
      content: '';
      transition: .3s;
    }

    &:hover {
      &:before {
        background: rgba(43, 42, 41, 0.7);
      }

      .solut-industry__content {
        top: 0;
      }

    }

  }

  &__content {
    font-size: 17px;
    line-height: 22px;
    position: relative;
    top: 120%;
    transition: .4s;

    @media screen and  (max-width: 990px) {
      top: 0;
    }
  }

  &__header {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
}

.other-industry {

  &__title {
    font-size: 20px;
    line-height: 30px;
    color: #2b2a29;
    padding-bottom: 50px;
    text-align: center;
  }
}

.how-we-work {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__item {
    width: 33.33333%;
    padding: 0 10px 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      max-width: 165px;
      height: 1px;
      background: #e4e1e1;
      top: 65px;
      right: 0;
      transform: translateX(50%);
    }

    &:nth-child(3n) {
      &:before {
        content: none;
      }
    }

    @media screen and (max-width: 990px) {
      width: 50%;
      &:before {
        content: none;
      }
    }

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  &__images {
    width: 130px;
    height: 130px;
    background: #8ead0c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
  }

  &__count {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #a50c36;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    right: -10px;
    bottom: -10px;
    line-height: 56px;
  }

  &__data {
    text-align: center;
  }

  &__header {
    font-size: 18px;
    line-height: 30px;
    padding: 0 20px 10px 20px;
    color: #2b2a29;
  }

  &__name-variant {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;

    color: #a50c36;
  }

  &__info-variant {
    font-size: 16px;
    line-height: 20px;
    color: #969494;
    padding-bottom: 15px;
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn)
  }
}

.solution {

  &__header {
    text-align: center;
    font-size: 45px;
    color: #2b2a29;
    padding-bottom: 40px;
    text-transform: uppercase;
  }

  &__list {
    column-count: 2;
    column-gap: 30px;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      column-count: 1;
      column-gap: 0;
    }
  }

  &__item {
    padding-left: 40px;
    padding-bottom: 15px;
    position: relative;
    //float: left;
    page-break-inside: avoid;
    break-inside: avoid;
    font-size: 18px;
    line-height: 30px;
    color: #2b2a29;
    padding-right: 40px;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      background: url("../images/check-index-list-style.png");
      width: 13px;
      height: 11px;
    }

    @media screen and (max-width: 767px) {
      padding-right: 0;
    }
  }

  &--white {

    .solution__item {
      color: #fff;

      &:before {
        content: '';
        position: absolute;
        left: 5px;
        top: 6px;
        width: 4px;
        height: 8px;
        border: 2px solid #fff;
        border-left: 0;
        border-top: 0;
        transform: rotate(45deg);

      }
    }

    .solution__header {
      color: #fff;
    }
  }
}

.view-our-project {

  &__item {
    background: #fff;
    height: 100%;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      max-width: 400px;
    }
  }

  .owl-stage {
    display: flex;
  }

  .owl-nav.disabled {
    display: block !important;
  }

  &__images {
    //margin-bottom: 20px;
  }

  &__content {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 30px;
  }

  &__header {
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 20px;
  }

  &__data {
    padding: 30px 30px;
    text-align: center;
    color: #2b2a29;
  }

  .owl-prev {
    width: 40px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../images/slide-arrow-clients.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: .3s;
    opacity: .6;

    &:hover {
      opacity: 1;
    }

    @media (min-width: 1100px) {
      top: 105%;
      left: 45%;
    }
  }

  .owl-next {
    width: 40px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 50%;
    background: url('../images/slide-arrow-clients.png');
    transform: rotate(180deg) translateY(50%);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: .3s;
    opacity: .6;

    &:hover {
      opacity: 1;
    }

    @media (min-width: 1100px) {
      top: 105%;
      right: 45%;
    }
  }
}

i {
  font-style: italic;
  font-weight: 300;
}

.solution2-table-data {
  @media screen and (max-width: 767px) {
    display: none;
  }
}