/* ---- VARIABLES ---- */
//@fontsPath: "../fonts";
@imagesPath: "../img";
@imagesPathBower: "../../../../bower_components/fancybox/source";

//fonts
@mainFonts: 'PT Sans', sans-serif;

//color
@red: #a30b35;
@dark-gray: #212121;
@gray: #f2f2f2;
@brown: #2b2a29;
@white: #fff;

//text-color
@gray-text: #fff;
@black-text: #fff;


//font-size
@fs-content: 16px;
@fs-heading: 20px;
