block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var pageTitle = 'Внутренняя'
    - var p_img = '../assets/index/images/'
doctype html
html(lang='ru-RU')
    head
        meta(charset='UTF-8')
        meta(name='format-detection', content='telephone=no')
        meta(name='SKYPE_TOOLBAR', content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{pageTitle}
        //link(rel='icon', type='image/png', href='images/favicon.png')
        //link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic")
        link(rel='stylesheet', href='../assets/index/css/style.css')
        block styles
    body(class=" " + bodyClass)
        .wrapper
            header.header
                .box
                    .header__inner
                        .logo-inner
                            a(href='#').logo
                                img(src=p_img+'logo_Novacom.png', width='211', height='55', alt='logo')
                            span!= 'экомплексные <br> информационные системы'
                        .header__data.data-hedaer
                            a(href="mailto:info@nvcm.net").header-mail.data-hedaer__item info@nvcm.net
                            .data-hedaer__sity.data-hedaer__item Минск
                            a(href="tel:+375173283294").header-tel.data-hedaer__item +375 17 328-32-94
                            a(href="#").data-hedaer__lang.data-hedaer__lang--active.data-hedaer__item Ru
                            a(href='#').data-hedaer__lang.data-hedaer__item En
                        .header__data-m.m-head-data
                            .m-head-data__lang
                            .lang-variant
                                .lang-variant__item.lang-variant__item--active русский
                                .lang-variant__item english
                            a(href="mailto:mailto:info@nvcm.net").m-head-data__message
                            .btn-mob
                                .btn-mob__item
            nav.nav-menu
                .box
                    ul.nav-menu__list
                        li.nav-menu__item
                            .nav-menu__drop-arrow
                            a(href="#").nav-menu__link Компания
                            ul.dropdown-menu
                                li.dropdown-menu__item
                                    a(href="#").dropdown-menu__link О компании
                                li.dropdown-menu__item
                                    a(href="#").dropdown-menu__link  Руководство
                                li.dropdown-menu__item
                                    a(href="#").dropdown-menu__link.dropdown-menu__link--active Истрия
                                li.dropdown-menu__item
                                    a(href="#").dropdown-menu__link Новости
                        li.nav-menu__item
                            a(href="#").nav-menu__link.nav-menu__link--active решения
                        li.nav-menu__item
                            .nav-menu__drop-arrow
                            a(href="#").nav-menu__link проекты
                            ul.dropdown-menu
                                li.dropdown-menu__item
                                    a(href="#").dropdown-menu__link О компании
                                li.dropdown-menu__item
                                    a(href="#").dropdown-menu__link  Руководство
                                li.dropdown-menu__item
                                    a(href="#").dropdown-menu__link.dropdown-menu__link--active Истрия
                                li.dropdown-menu__item
                                    a(href="#").dropdown-menu__link Новости
                        li.nav-menu__item
                            a(href="#").nav-menu__link карьера
                        li.nav-menu__item
                            a(href="#").nav-menu__link контакты
                .mob-clos-menu
                    .mob-clos-menu__item1
                    .mob-clos-menu__item2
            block previews
            main.main
                block main
            footer(class="footer " + footerClass)
                .box
                    .footer__inner
                        .footer__title © Новаком 2007-2017
                        .footer__data
                            .footer__title г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, Минск, 220028
                            .footer__social
                                a(href="#").footer__link
                                    img(src=p_img + "ico-fb.png" alt='facebook')

                                a(href="#").footer__link
                                    img(src=p_img + "ico-linked.png" alt='linkedin')
        block scripts
        script.
            var $buoop = {vs:{i:10,f:-8,o:-6,s:7,c:-8},api:4};
            function $buo_f(){
                var e = document.createElement("script");
                e.src = "//browser-update.org/update.min.js";
                document.body.appendChild(e);
            };
            try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
            catch(e){window.attachEvent("onload", $buo_f)}
        script(src="../assets/index/js/main.js")

